li.product.type-product.post-3106.status-publish.first.instock.product_cat-holodnye-zakuski.has-post-thumbnail.shipping-taxable.purchasable.product-type-simple
  a.product--info
    img(src="https://gorki.delivery.ojakhuri.ru/wp-content/uploads/sites/31/2021/04/losos-slabosolyonnyj-300x300.jpg" alt="" loading="lazy" srcset="https://gorki.delivery.ojakhuri.ru/wp-content/uploads/sites/31/2021/04/losos-slabosolyonnyj-300x300.jpg 300w, https://gorki.delivery.ojakhuri.ru/wp-content/uploads/sites/31/2021/04/losos-slabosolyonnyj-150x150.jpg 150w, https://gorki.delivery.ojakhuri.ru/wp-content/uploads/sites/31/2021/04/losos-slabosolyonnyj-100x100.jpg 100w" sizes="(max-width: 300px) 100vw, 300px" width="300" height="300").attachment-woocommerce_thumbnail.size-woocommerce_thumbnail
    div(data-product_id="3106" style="top: -76.5px; right: -10px; display: inline-block;").yith-wcqv-button.inside-thumb
      span Подробнее
    h2.woocommerce-loop-product__title Лосось слабосолёный с надуги
    p.description
    .price_cont
      span.portion 410г
      span.woocommerce-Price-amount.amount
        bdi 230
          span.woocommerce-Price-currencySymbol ₽
  a(href="?add-to-cart=3106" data-quantity="1" data-product_id="3106" data-product_sku="" aria-label="Добавить &quot;Лосось слабосолёный с надуги&quot; в корзину" rel="nofollow" data-product_image_src="https://gorki.delivery.ojakhuri.ru/wp-content/uploads/sites/31/2021/04/losos-slabosolyonnyj-300x300.jpg" data-product_image_width="300" data-product_image_height="300").button.product_type_simple.add_to_cart_button.ajax_add_to_cart В корзину