.container
	.logo
		img(src="/img/assets/brand/logo-vert.svg", alt="Оджахури лого")

//- script(src="//unpkg.com/aos@next/dist/aos.js")
script(src="./js/main.min.js")
script(src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")