include site-header/nav-mob
.mob-top.header-pages
	.logo
		a(href="index.html")
			include ../../img/assets/brand/logo.svg
	#nav-open-btn.nav-open-btn
	
section#site-header
	include site-header/nav-screen

	include site-header/hero