header#site-header
	hgroup
		h1 Доставка грузинской кухни
		h2 Выберите ресторан

main.start-page
	section.loc-section
		.content
			//- .item.header
			//- 	.logo
			//- 		img(src="/img/assets/brand/logo-vert.svg", alt="лого Оджахури")
			
			.item
				a(href="https://sadovaya.delivery.ojakhuri.ru")
					ul
						li Оджахури
						li Садовая-Черногрязская, 22, стр. 1 
						li т. +7 (495) 621 60 02
					.blackout
					img(src="img/gallery/dishes/dishes1.jpg", alt="фото ресторана").bg-image
				a(href="https://sadovaya.delivery.ojakhuri.ru").bg-img-link
							
			.item
				a(href="https://korolev.delivery.ojakhuri.ru") 
					ul
						li Оджахури
						li Королёв, Проспект Королева, 6г 
						li т. +7 (495) 544-24-73
					.blackout
					img(src="img/gallery/dishes/dishes2.jpg", alt="фото ресторана").bg-image
				a(href="https://korolev.delivery.ojakhuri.ru").bg-img-link

			.item
				a(href="https://khimki.delivery.ojakhuri.ru") 
					ul
						li Оджахури
						li Химки, Молодежная, 6
						li т. +7 (495) 793-14-77
					.blackout
					img(src="img/gallery/dishes/dishes3.jpg", alt="фото ресторана").bg-image
				a(href="https://khimki.delivery.ojakhuri.ru").bg-img-link

			.item
				a(href="https://depo.delivery.ojakhuri.ru") 
					ul
						li Грузинские лавки
						li Фудмолл ДЕПО, Лесная, 20  
						li т. +7 (969) 114-01-10
					.blackout
					img(src="img/gallery/dishes/dishes5.jpg", alt="фото ресторана").bg-image
				a(href="https://depo.delivery.ojakhuri.ru").bg-img-link

			//- .item.header
			//- 	h1 Грузинские лавки

			.item
				a(href="https://leninskiy.delivery.ojakhuri.ru") 
					ul
						li Грузинские лавки
						li Ленинский рынок, Ленинский проспект, 108 
						li т. +7 (969) 100-10-03
					.blackout
					img(src="img/gallery/dishes/dishes7.jpg", alt="фото ресторана").bg-image
				a(href="https://leninskiy.delivery.ojakhuri.ru").bg-img-link
			
			.item
				a(href="https://usachevskiy.delivery.ojakhuri.ru") 
					ul
						li Грузинские лавки
						li Усачёвский рынок, ул. Усачёва, 26 
						li т. +7 (969) 100-01-10
					.blackout
					img(src="img/gallery/dishes/dishes7.jpg", alt="фото ресторана").bg-image
				a(href="https://usachevskiy.delivery.ojakhuri.ru").bg-img-link
				
			.item
				a(href="https://balashiha.delivery.ojakhuri.ru") 
					ul
						li Грузинские лавки
						li Балашиха 
						li т. +7 (495) 621 60 02
					.blackout
					img(src="img/gallery/dishes/dishes7.jpg", alt="фото ресторана").bg-image
				a(href="https://balashiha.delivery.ojakhuri.ru").bg-img-link

			.item
				a(href="https://cheremushkinskiy.delivery.ojakhuri.ru") 
					ul
						li Грузинские лавки
						li Черёмушкинский рынок, Вавилова, 64 
						li т. +7 (969) 101-01-10
					.blackout
					img(src="img/gallery/dishes/dishes7.jpg", alt="фото ресторана").bg-image
				a(href="https://cheremushkinskiy.delivery.ojakhuri.ru").bg-img-link
				
			.item
				a(href="https://cheremushkinskiy.delivery.ojakhuri.ru") 
					ul
						li Грузинские лавки
						li Черёмушкинский рынок, Вавилова, 64 
						li т. +7 (969) 101-01-10
					.blackout
					img(src="img/gallery/dishes/dishes7.jpg", alt="фото ресторана").bg-image
				a(href="https://cheremushkinskiy.delivery.ojakhuri.ru").bg-img-link
