main.start-page
		.shield
			.shield__logo
				img(src="../img/assets/brand/tsomi-vert-logo.svg", alt="logo tsomi")
				h1 fast casual грузинской кухни
			.shield__animation
				img(src="../img/assets/cart-icon.svg", alt="cart-icon")
				h2 Доставка
			.shield__button
				button(type="button").button Выбрать ресторан на карте