#site-wrapper {
	position: relative;
}

#site-main {
	overflow: hidden;
}

.decor {
	display: none;
}

.container {
	position: relative;
	max-width: 160rem;
	margin: 2,5rem auto;
}

.container-full {
	margin: 2,5rem auto;
}

@media (min-width: $b-large) {
	.container, .container-full {
		margin: 0 auto;
	}
}

@media (min-width: $b-xxxlarge) {
	.container {
		max-width: $container;
	}
}

@media (min-width: $b-xxlarge) {
	
	.decor {
		position: absolute;
		display: block;
		z-index: 1;
		opacity: .25;
		& img {
			width: 30rem;
		}
	}

	.decor-img-1 {
		top: 10rem;
		left: -30%;
		transform: rotate(160deg);
	}

	.decor-img-2 {
		top: 90%;
		right: -45%;
		transform: rotate(140deg);
		& img {
			width: 40rem;
		}
	}

	.decor-img-3 {
		top: 30%;
		left: -30%;
		& img {
			width: 50rem;
		}
	}

	.decor-img-4 {
		bottom: 10%;
		right: -25%;
		transform: rotate(140deg);
		& img {
			width: 35rem;
		}
	}

	.decor-img-5 {
		top: 0%;
		left: -30%;
		transform: rotate(50deg);
		& img {
			width: 35rem;
		}
	}

	.decor-img-6 {
		bottom: 0%;
		right: -30%;
		transform: rotate(10deg);
		& img {
			width: 25rem;
		}
	}

	.decor-img-7 {
		top: 0%;
		left: -25%;
		transform: rotate(10deg);
		& img {
			width: 25rem;
		}
	}

	.decor-img-8 {
		bottom: 10%;
		right: -28%;
		transform: rotate(10deg);
		& img {
			width: 25rem;
		}
	}

	.decor-img-9 {
		top: -10%;
		left: -30%;
		transform: rotate(-34deg);
		& img {
			width: 35rem;
		}
	}

	.decor-img-10 {
		bottom: -10%;
		right: -35%;
		transform: rotate(180deg);
		& img {
			width: 35rem;
		}
	}

	.decor-img-11 {
		top: 10%;
		left: -35%;
		transform: rotate(150deg);
		& img {
			width: 35rem;
		}
	}

	.decor-img-12 {
		bottom: -20%;
		right: -35%;
		transform: rotate(180deg);
		& img {
			width: 35rem;
		}
	}
}