.hero
	.hero-darkframe
	.hero-text(data-aos="fade-up" data-aos-duration="1000")
		h1 Wine bar </br> & kitchen
		.curly-brace
			.left-b.brace
			.right-b.brace

	.work-time
		ul
			li Пн-Чт: 07.30 - 00.00 <br> Пт: 07.30 - 02.00
			li Сб: 07.30 - 11.30 и 15.00 - 02.00 <br> Вс: Выходной

	.social
		ul
			li
				a(href="//facebook.com" target="_blank").ic-fb
			li
				a(href="//instagram.com" target="_blank").ic-in
