nav.nav-mob
	.close-btn
	
	ul
		li
			a(href="#").menu-about О ресторане
		li
			a(href="#").menu-menu Меню
		li
			a(href="#").menu-news Новости
		li
			a(href="#").menu-gallery Галерея
		li
			a(href="#").menu-contacts Контакты