//- .nav-screen.is-always-sticky
.nav-screen
	.logo(data-aos="fade-down" data-aos-duration="1000" data-aos-delay="1000")
		a(href="index.html")
			include ../../../img/assets/brand/logo.svg

	nav(data-aos="fade-down" data-aos-duration="1000" data-aos-delay="1250") 
		ul
			li
				a(href="#" id="menu-about") О ресторане
			li
				a(href="#" id="menu-menu") Меню
			li
				a(href="news.html" id="menu-news") Новости
			li
				a(href="#" id="menu-gallery") Галерея
			li
				a(href="#" id="menu-contacts") Контакты