//@include normalize();

*, *+*, *::before, *::after {
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
	font-size: $global-font-size;
}

body {
	font-size: $body-font-size;
	font-family: $global-font-family;
	font-weight: $global-font-weight;
	line-height: $global-line-height;
	background-color: $body-background;
	-webkit-font-smoothing: $font-smooth;
	background-color: ac(white);
	color: ac(text);
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

a {
	text-decoration: none;
	color: ac(text);
	&:hover,
	&:active,
	&:focus {
		// color: ac(primary, shade, sat);
		text-decoration: underline;
	}
}

//Address
address {
	font-weight: normal;
	font-style: normal;
}

// Paragraphs
p {
	line-height: $paragraph-lineheight;
	margin: 0;
	// margin-top: 4rem;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $header-font-family;
	font-weight: $header-font-weight;
	color: $header-color;
	text-transform: $header-text-transform;
	line-height: $header-lineheight;
	margin: 0;
	position: relative;
}


h1 {font-size: 32px; font-weight: 500;} // Title
h2 {font-size: 24px;} // Headline
h3 {font-size: 20px;} // Headline-2
h4 {font-size: 16px;} // Subtitle
h5 {font-size: 14px;}
h6 {font-size: 14px;}

@media (min-width: $b-medium) {
	h1 {font-size: 40px;} // Title
	h2 {font-size: 32px;} // Headline
	h3 {font-size: 24px;} // Subtitle
	h4 {font-size: 20px;} // Subtitle
}

//Bloquote
blockquote {
	background: #f9f9f9;
	border-left: 3px solid cv(primary);
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
	color: cv(primary);
	content: open-quote;
	font-size: 3em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}

blockquote p {
	display: inline;
}
//end Bloquote

dd {
	margin: 0;
}


//typography test

.title {
	font-size: 32px;
	font-family: $second-font-family;
}

.headline {
	font-size: 24px;
	font-family: $second-font-family;
}

.headline-2 {
	font-size: 20px;
	font-family: $second-font-family;
}

.subtitle {
	font-size: 16px;
}

.small {
	font-size: 13px;
}

.caption {
	font-size: 13px;
}

@media (min-width: $b-medium) {
	.title {
		font-size: 40px;
	}
	
	.headline {
		font-size: 32px;
		
	}
	
	.headline-2 {
		font-size: 24px;
	}
	
	.subtitle {
		font-size: 20px;
	}

	.small {
		font-size: 15px;
	}
}