header#rest-header
	.top
		a(href="#").btn-back
			img(src="../img/assets/icons/arrow-back.svg", alt="back to start page")
			span к выбору ресторана
		.social
			a(href="facebook.com").fb
				img(src="../img/assets/icons/ic_facebook.svg", alt="link to facebook")
			a(href="instagram").inst
				img(src="../img/assets/icons/ic_instagram.svg", alt="link to instagram")
	
	.bottom
		a(href="#").logo-hor
			img(src="../img/assets/brand/tsomi-hor-logo.svg")
		
		.nav-ham 
			.icon
				ul 
					li
					li 
					li
			button(type="button").btn-text Наше меню

		address
			ul
				li
					a(href="map.yandex.ru") Фудмолл ДЕПО, Лесная, 20, стр. 3
				li
					a(href="tel:+7 (968) 500-30-05").phone т. +7 (968) 500-30-05
