main
	ul.categories-list
		li.vipechka
			a(href="#") 
				span Выпечка
				img(src="../img/gallery/vipechka.webp", alt="category img")
		li.khinkali
			a(href="#") 
				span Хинкали
				img(src="../img/gallery/khinkali.webp", alt="category img")
		li.ponchik
			a(href="#") 
				span Пончики
				img(src="../img/gallery/ponchik.webp", alt="category img")
		li.soup
			a(href="#") 
				span Супы 
				img(src="../img/gallery/soup.webp", alt="category img")
		li.main-dishes
			a(href="#") 
				span Горячее 
				img(src="../img/gallery/main-dishes.webp", alt="category img")
		li.cheburek
			a(href="#") 
				span Чебуреки 
				img(src="../img/gallery/cheburek.webp", alt="category img")
		li.drinks
			a(href="#") 
				span Напитки 
				img(src="../img/gallery/drinks.webp", alt="category img")