include partials/head
body
  //- .loader
  //- 	.preloader
  //- 		.lines
  //- 			.line.line-1
  //- 			.line.line-2
  //- 			.line.line-3
  //- 		.loading-text загрузка
  #site-wrapper.is-secondary-bg-color
    .container
      .b-header 
        .decor-left
          img(src="./img/assets/decor-left.svg", alt="декор Оджахури")
        .oj-logo
          img(src="./img/assets/brand/logo-vert.svg", alt="Оджахури – Грузинская кухня")
        .decor-right
          img(src="./img/assets/decor-right.svg", alt="декор Оджахури")
      

    .container-full
      .b-rest-about
        .info
          .container
            h1 Банкетные залы ресторанов Оджахури
            p.
              Ресторан «Оджахури» идеально подходит для&nbsp;проведения дня рождения, юбилея, свадьбы, корпоратива, банкета, выпускного вечера, детского праздника, а также презентаций и бизнес-конференций и других событий компаниями от&nbsp;10&nbsp;до&nbsp;120&nbsp;человек
        .b-slider-about
          .img
            img(src="../img/gallery/staff-1.png", alt="команда Оджахури")
        .container
          .text-block
            .top
              h3 Если вы решили отметить торжество в&nbsp;нашем ресторане — будьте уверены, что&nbsp;праздник получится веселым и запоминающимся, а блюда будут яркими и&nbsp;невероятно вкусными. 
              p.
                Рестораны «Оджахури» идеально подходят для проведения дня рождения, юбилея, корпоратива, выпускного вечера, детского праздника и других событий компаниями от&nbsp;10 до&nbsp;100 человек.
            .bot
              .b-text
                .text-item
                  h3 Корпоративные праздники
                  p.
                    Банкетные залы оптимально подходит для проведения новогодних и тематических корпоративов коллективами до 100 человек.
                .text-item
                  h3 Дни Рождения и юбилеи
                  p.
                    За время нашей работы в банкетном зале «Оджахури» успешно проведено более 300 торжеств, посвященных Дню Рождения.
              .b-text
                .text-item
                  h3 Свадьбы
                  p.
                    Мы знаем, как сделать праздник душевным и незабываемым!
                .text-item
                  h3 Выпускные вечера и прочие мероприятия
                  p.
                    Банкетный зал, может быть адаптирован под любое мероприятие.
              .b-text
                .text-item
                  h3 Оборудование
                  p.
                    В ресторане есть всё необходимое для проведения презентаций, включая проектор, микрофоны и музыкальное оборудование. 
                .text-item
                  h3 Возможность приносить свой алкоголь
                  p.
                    При заказе от 4000 рублей на человека.

        .staff
          .container
            .staff-gallery
              //- include ../img/assets/img-path.svg
              img(src="../img/gallery/staff-1.png", alt="команда Оджахури")
              img(src="../img/gallery/staff-2.png", alt="команда Оджахури")
              img(src="../img/gallery/staff-3.png", alt="команда Оджахури")
              
            p.
              Команда ресторана имеет большой опыт в&nbsp;организации торжеств. Мы поддержим любые ваши идеи и поделимся своим опытом. Индивидуальный подход к воплощению каждого праздника у нас начинается c работы персонального менеджера. Квалифицированный администратор поможет найти лучшее решение для банкета как в&nbsp;выборе банкетных блюд, так&nbsp;и&nbsp;в&nbsp;разработке сценария торжества, оформления банкетного зала, 
            p.
              Мы контролируем соблюдение всех требований клиента на самом банкете или фуршете.
            p.
              Основная задача персонала ресторана – позволить гостям проникнуться удивительной атмосферой праздника, получить удовольствие от блюд и незабываемо провести вечер.

      .b-rest-item
        .b-rest-item-header
          .container
            h1 Банкетные залы в&nbsp;Оджахури </br> на&nbsp;Садовой-Черногрязской
        .b-rest-slider
        //ToDo
        .b-rest-item-info.container
          .info-card
            img(src="../img/gallery/staff-3.png", alt="команда Оджахури")
            .b-text
              .header
                h2 Банкетный зал
                p 85-100 человек (зал можно разделить звукоизоляционной раздвижной стеной на две части: на 35 и 55 человек)
              ul
                li
                  h3 Полностью новый зал
                  p до 100 человек
                  p Вс. – Чт.: от 280&nbsp;000₽ депозит по блюдам и&nbsp;напиткам +&nbsp;10% обслуживание.
                  p Пт., Сб.: 400&nbsp;000₽ + 10% обслуживание.
                  p.small По договорённости, в зависимости от дня недели и других факторов.
                li
                  h3 Большая половина зала
                  p до 60 человек
                  p Пн.-Чт.: от 180&nbsp;000₽ + 10% обслуживание.
                  p Пт., Сб.: от 240&nbsp;000₽ + 10% обслуживание.
                li
                  h3 Малая половина зала
                  p до 35 человек
                  p Пн.-Чт.: от 100&nbsp;000₽ + 10% обслуживание.
                  p Пт., Сб.: от 150&nbsp;000₽ + 10% обслуживание.

          .info-card
            img(src="../img/gallery/staff-3.png", alt="команда Оджахури")
            .b-text
              .header
                h2 Основной зал
                p до 80 человек
                p.
                  Зал оборудован сценой, на которой по вечерам поют музыканты, и небольшой зоной для танцев и выступления приглашённых артистов.
              ul 
                li
                  p Вс. – Чт.: От 320&nbsp;000₽ + 10% обслуживания.
                  p Персональная музыкальная программа 60&nbsp;000₽.
                li
                  p Пт., Cб.: От 500&nbsp;000₽ + 10% обслуживание.
                  p Персональная музыкальная программа 60&nbsp;000₽.

          .info-card
            img(src="../img/gallery/staff-3.png", alt="команда Оджахури")
            .b-text
              .header
                h2 VIP-зал
                p До 16 человек
              ul 
                li
                  p От 50 000₽

        .b-restitem-divider.container
          .line
          .img
            img(src="./img/assets/khinkali.svg", alt="хинкали")
          .line

        .b-info-rest-footer.container
          ul
            li Бранчи от 1 500₽ c 10:00 до 18:00 от&nbsp;10&nbsp;человек.
            li Банкеты, фуршеты от&nbsp;3&nbsp;000₽ на человека.
            li Свадьбы – от 4&nbsp;000₽ на&nbsp;человека.
            li Закрытие ресторана от 400&nbsp;000₽

      .b-rest-item
        .b-rest-item-header
          .container
            h1 Банкетные и&nbsp;фуршеты </br>в&nbsp;Оджахури в&nbsp;Химках
        .b-rest-slider
        //ToDo
        .b-rest-item-info.container
          .info-card
            img(src="../img/gallery/staff-3.png", alt="команда Оджахури")
            .b-text
              .header
                h2 Основной зал
                p До 120 человек
              ul 
                li
                  p Вс.-Чт.: от 350&nbsp;000₽ + 10% обслуживание.
                  p Пт., Cб.: от 450&nbsp;000₽ + 10% обслуживание.

          .info-card
            img(src="../img/gallery/staff-3.png", alt="команда Оджахури")
            .b-text
              .header
                h2 Грузинский зал
                p До 34 человека
              ul 
                li
                  p От 100&nbsp;000₽

          .info-card
            img(src="../img/gallery/staff-3.png", alt="команда Оджахури")
            .b-text
              .header
                h2 Европейский зал (VIP)
                p До 16 человек
              ul 
                li
                  p От 50 000₽

        .b-restitem-divider.container
          .line
          .img
            img(src="./img/assets/khinkali.svg", alt="хинкали")
          .line

        .b-info-rest-footer.container
          ul
            li Банкеты, фуршеты от 3&nbsp;000₽ на&nbsp;человека.
            li Свадьбы – от 5&nbsp;500₽ на&nbsp;человека.
            li Закрытие ресторана:
              p Пн.-Чт.: от 500 000₽ + 10% обслуживание. 
              p Пт., Cб.: от 600 000₽ + 10% обслуживание.

      .b-rest-item
        .b-rest-item-header
          .container
            h1 Банкетны и&nbsp;фуршеты </br>в&nbsp;Оджахури в&nbsp;Королёве
        .b-rest-slider
        //ToDo
        .b-rest-item-info.container
          .info-card
            img(src="../img/gallery/staff-3.png", alt="команда Оджахури")
            .b-text
              .header
                h2 Полностью 1 этаж
                p до 45 человек
              ul 
                li
                  p Вс.-Чт.: от 150&nbsp;000₽ + 10% обслуживание. 
                  p Пт., Cб.: от 180&nbsp;000₽ + 10% обслуживание.
              .header
                p до 80 человек
              ul 
                li
                  p Вс.-Чт.: от 240&nbsp;000₽ + 10% обслуживание. 
                  p Пт., Cб.: от 320&nbsp;000₽ + 10% обслуживание.
          
          .info-card
            img(src="../img/gallery/staff-3.png", alt="команда Оджахури")
            .b-text
              .header
                h2 Полностью 2 этаж
                p до 30 человек
                p Больше подходит для фуршетов и небольших семейных банкетов.
              ul 
                li
                  p Вс.-Чт.: от 90&nbsp;000₽ + 10% обслуживание.
                  p Пт., Cб.: от 120&nbsp;000₽ + 10% обслуживание.

        .b-restitem-divider.container
          .line
          .img
            img(src="./img/assets/khinkali.svg", alt="хинкали")
          .line

        .b-info-rest-footer.container
          ul
            li Банкеты, фуршеты от 3&nbsp;000₽ на&nbsp;человека.
            li Закрытие ресторана (до 80 человек):
              p Пн.-Чт.: от 240 000₽ + 10% обслуживание. 
              p Пт., Cб.: от 520 000₽ + 10% обслуживание.

        .b-info-rest-quote.container
          ul
            li Любая торжественная дата в&nbsp;вашей жизни — это повод собрать за одним столом самых близких людей и&nbsp;душевно провести время, наслаждаясь вкусными блюдами и напитками.

    section#site-footer
      include partials/site-footer