include partials/head
body
	.loader
		.preloader
			.lines
				.line.line-1
				.line.line-2
				.line.line-3
			.loading-text загрузка
	#site-wrapper
		section.hero
			.main-info
				.header
					.logo
						img(src="/img/assets/brand/logo.svg", alt="Оджахури логотип")
					p.
						Сеть ресторанов и кулинарных лавок грузинской кухни
				nav
					ul
						li
							a(href="#") 
								h2 Москва
								p Садовая-Черногрязская, 22, стр.1
								a(href="tel:+7 (495) 621-60-02") +7 (495) 621-60-02
						li
							a(href="#") 
								h2 Королев
								p Проспект Королева 6Г
								a(href="tel:+7 (495) 544-24-73") +7 (495) 544-24-73
						li
							a(href="#") 
								h2 Химки
								p ул. Молодежная д.6
								a(href="tel:+7 (495) 793-14-77") +7 (495) 793-14-77
						li
							a(href="#") 
								h2 Грузинские лавки
			.hero-buttons
				ul
					li
						a(href="#") Доставка
					li
						a(href="#") Банкеты
					li
						a(href="#") Вакансии
					li
						a(href="#") Наши новости

		.main-content
			section.text
				.container
					article
						h1 Грузинская домашняя кухня и&nbsp;семейное гостепреимство
						p.
							В переводе с грузинского «Оджахури» означает «семейный, домашний», и&nbsp;именно этими ценностями мы хотим с Вами поделиться. Приходите в наш ресторан и&nbsp;узнайте, что такое грузинское гостеприимство и&nbsp;настоящая домашняя кухня. У нас вы всегда сможете насладиться непревзойденным вкусом сациви из&nbsp;курицы, попробовать тающий во рту люля-кебаб из баранины, черноморскую барабульку и, конечно же, хинкали, за&nbsp;качество которых отвечают чемпионы Грузии, отец и&nbsp;сын, Уча и Борис Гиоргберидзе. Каждый&nbsp;вечер в&nbsp;«Оджахури» играет живая музыка. С четверга по субботу работает отдельный зал для караоке. Ежедневно в&nbsp;ресторане играет живая музыка. Мы всегда рады Вам, потому что&nbsp;гость, как говорят в Грузии, от Бога!

			section.news#news
				.container
					.news-weapper
						.news-item
							.img
								a(href="#")
									img(src="../img/ng_2019_2.jpg", alt="Изображение новости")
							.header
								a(href="#")
									h2 Грузинская домашняя кухня и семейное гостепреимство
							.content
								p.
									7 октября в грузинской лавке Оджахури на Усачёвском рынке мы отмечаем Тбилисобу!
						
						.news-item
							.img
								a(href="#")
									img(src="../img/ng_2019_2.jpg", alt="Изображение новости")
							.header
								a(href="#")
									h2 Тбилисоба на Усачевском рынке
							.content
								p.
									7 октября в грузинской лавке Оджахури на Усачёвском рынке мы отмечаем Тбилисобу!
						
						.news-item
							.img
								a(href="#")
									img(src="../img/ng_2019_2.jpg", alt="Изображение новости")
							.header
								a(href="#")
									h2 Тбилисоба на Усачевском рынке
							.content
								p.
									7 октября в грузинской лавке Оджахури на Усачёвском рынке мы отмечаем Тбилисобу!
						
						.news-item
							.img
								a(href="#")
									img(src="../img/ng_2019_2.jpg", alt="Изображение новости")
							.header
								a(href="#")
									h2 Тбилисоба на Усачевском рынке
							.content
								p.
									7 октября в грузинской лавке Оджахури на Усачёвском рынке мы отмечаем Тбилисобу!
						.news-item
							.img
								a(href="#")
									img(src="../img/ng_2019_2.jpg", alt="Изображение новости")
							.header
								a(href="#")
									h2 Тбилисоба на Усачевском рынке
							.content
								p.
									7 октября в грузинской лавке Оджахури на Усачёвском рынке мы отмечаем Тбилисобу!

		section#site-footer
			include partials/site-footer