.main-content-room .cat-room-slider {
	display: grid;
	position: relative;
	grid-template-columns: 1fr;
	grid-row-gap: 4rem;
	// margin-top: 4rem;
	@media (min-width: $b-medium) {
		// margin-top: 7rem;
	}
	@media (min-width: $b-large) {
		margin-top: 0;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 4rem;
	}
	@media (min-width: $b-xlarge) {
		grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
		grid-gap: 4rem;
		grid-template-columns: 1fr;
		grid-column-gap: 0;
	}
	@media (min-width: $b-xxlarge) {
		grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
		grid-gap: 4rem;
	}
}

//card
.cat-room-slider .cat-room-item {
	position: relative;
	&>h3 {
		font-size: 1.5rem;
		margin-top: 4rem;
		font-family: $second-font-family;
		text-transform: uppercase;
		letter-spacing: .2rem;
	}
	@media (min-width: $b-large) {
		&>h3 {
			display: none;
		}
	}
	@media (min-width: $b-xlarge) {
		max-width: 56rem;
		&>h3 {
			display: none;
		}
	}
}


.cat-room-slider .cat-room-item figure {
	display: grid;
	grid-template-rows: 62.5rem 8rem;
	align-content: end;
	margin: 0;
	margin-top: 4rem;
	padding: 0;
	padding-bottom: 1rem;
	height: auto;
	border-bottom: 1px solid ac(text-col);
	@media (min-width: $b-medium) {
		grid-template-rows: 50rem 10rem;
	}
	@media (min-width: $b-large) {
		margin-top: 0;
		grid-template-rows: 1fr 10rem;
	}
	@media (min-width: $b-xxlarge) {
		grid-template-rows: 1fr 10rem;
	}
}

.cat-room-slider .cat-room-item:last-child figure {
	@media (min-width: $b-medium) {
		border-bottom: none;
	}
	@media (min-width: $b-large) {
		border-bottom: 1px solid ac(text-col);
	}
}

.cat-room-slider .cat-room-item figure picture {
	overflow: hidden;
	position: relative;
	margin-left: -10rem;
	margin-right: -10rem;
	@media (min-width: $b-medium) {
		width: 100%;
		margin-left: 0;
		margin-right: 0;	
	}
	@media (min-width: $b-large) {
		max-height: 62.5rem;
	}
	@media (min-width: $b-xxlarge) {
		max-height: none;
	}
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: transform .33s ease-out, filter .33s ease-out;
		@media (min-width: $b-xlarge) {
			min-height: 55rem;
		}
		@media (min-width: $b-xxlarge) {
			min-height: 75rem;
			max-height: none;
		}
	}
}

.cat-room-slider .cat-room-item figure picture:hover {
	& img {
		transform: scale(1.05);
	}
}

.cat-room-slider .cat-room-item figure figcaption {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
	align-content: end;
	& h3 {
		font-family: $third-font-family;
		font-weight: normal;
		position: relative;
		& a {
			position: relative;
			font-size: 3.75rem;
		}
	}
	@media (min-width: $b-xxlarge) {
		& h3 {
			font-size: 4.5rem;
		}
	}
}

.cat-room-slider .cat-room-item figure figcaption .room-header-size-capacity {
	& .cap {
		display: inline-block;
	}
	& .size {
		display: inline-block;
	}
	align-self: center;
	& span {
		// font-family: $second-font-family;
		display: inline-block;
		margin-left: 1rem;
	}
	@media (min-width: $b-large) {
		font-size: 1.25rem;
		& .cap {
			width: 100%;
			text-align: right;
		}
		& .size {
			width: 100%;
			text-align: right;
		}
	}
	@media (min-width: $b-xlarge) {
		font-size: 1.5rem;
	}
	@media (min-width: $b-xxlarge) {
		font-size: 1.5rem;
		& .cap {
			width: auto;
		}
		& .size {
			width: auto;
		}
	}
}

.cat-room-slider .cat-room-item a {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	& span {
		position: absolute;
		bottom: 0;
		opacity: 0;
		left: 2rem;
		color: ac(white);
		font-size: 1.5rem;
		font-family: $third-font-family;
		transition: bottom .33s ease-out, opacity .33s ease-out;
		& b {
			font-size: 4.5rem;
		}
	}
}

@media (min-width: $b-large) {
	.cat-room-slider .cat-room-item picture a {
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transition: background-color .33s ease-out;
		}
		&:hover::before {
			background-color: rgba(0,0,0,.33);
		}
		&:hover span {
			bottom: 2rem;
			opacity: 1;
		}
	}
}

.slider-rooms-nav {
	display: none;
	position: absolute;
	& ul {
		&:hover {
			cursor: pointer;
		}
		@media (min-width: $b-large) {
			display: block;
			top: 50%;
			transform: translate-y(-50%);
		}
	}
}

.cat-room-slider .slick-slide {
	padding-left: 4rem;
}

.cat-room-slider button {
	display: none;
	z-index: 1;
	@media (min-width: $b-large) {
		display: block;
		position: absolute;
		width: 6rem;
		height: 6rem;
		top: 35%;
		border: none;
		font-size: 0;
		background-color: transparent;
	}
}

.cat-room-slider .slick-prev {
	left: 4rem;
	&::before {
		content:'';
		display: block;
		position: absolute;
		top: 50%;
		width: 3rem;
		left: 2rem;
		height: 3rem;
		border-right: 2px solid ac(white);
		border-top: 2px solid ac(white);
		box-shadow: 1px -1px 1px rgba(0,0,0,.2);
		transform: translateY(-55%) rotate(-135deg);
	}
}

.cat-room-slider .slick-next {
	right: 0;
	&::before {
		content:'';
		display: block;
		position: absolute;
		top: 50%;
		width: 3rem;
		height: 3rem;
		border-right: 2px solid ac(white);
		border-top: 2px solid ac(white);
		box-shadow: 1px 0 0px rgba(0,0,0,.2);
		transform: translateY(-55%) rotate(45deg);
	}
}

.cat-room-slider .slick-disabled {
	opacity: .3;
}