.room .room-header .room-slider-counter {
	& .num {
		text-align: right;
		font-family: $third-font-family;
		font-size: 3rem;
		& span {
			color: lightgray;
		}
	}
	@media (min-width: $b-large) {
		display: none;
	}
}

.room .room-slider-desc-counter {
	display: none;
	@media (min-width: $b-xlarge) {
		display: block;
		& div {
			text-align: right;
			max-width: 9rem;
		}
		& .num {
			font-family: $third-font-family;
			font-size: 4.5rem;
			& span {
				color: lightgray;
			}
		}
	}
}


.zoom {
	& img {
		max-height: 90vh !important;
	}
}