#rest-header {
	@extend .container;
}

//btn back to main, socials
#rest-header .top {
	display: none;
	flex-flow: row nowrap;
	justify-content: space-between;
	@media (min-width: $b-xlarge) {
		display: flex;
	}
	& .btn-back {
		display: flex;
		flex-flow: row nowrap;
			& img {
				width: 3rem;
				height: 3rem;
				margin-right: .75rem;
			}
			& span {
				font-size: 2rem;
				line-height: 1.5;
			}
		}

	& .social {
		filter: brightness(0);
			& a:nth-child(1) {
				margin-right: 3rem;
			}
	}
}

//logo burger address
#rest-header .bottom {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	@media (min-width: $b-xlarge) {
		margin-top: 8rem;
	}

	& a.logo-hor {
		order: 1;
		 & img {
			 max-width: 20.625rem;
			 height: 100%;
			 @media (min-width: $b-xlarge) {
				 max-width: 41rem;
			 }
			}
			@media (min-width: $b-xlarge) {
				order: 0;
			}
		}
		
	& address {
		display: none;
		@media (min-width: $b-xlarge) {
			display: block;
		}
		& ul {
			margin: 0;
			padding: 0;
			list-style: none;
			text-align: right;
			& li a {
				font-size: 2.375rem;
			}
			& li:nth-child(2) a {
				font-size: 2rem;
			}
		}
	}
}

#rest-header .nav-ham {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	& button {
		font-size: 2rem;
	}
	& .icon {
		& ul {
			display: flex;
			flex-flow: column nowrap;
			justify-content: space-around;
			width: 3rem;
			height: 3rem;
			padding: 0;
			margin: 0;
			list-style: none;
			& li {
				height: .2rem;
				width: 100%;
				background-color: ac(black);
			}
		}
	}
	@media (min-width: $b-xlarge) {
		display: none;
	}
}