//site header main navigation
.site-header .site-header__nav {
	& ul {
		display: none;
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 0;
		transition: all .33s ease-in-out;
		& li a {
			display: block;
			padding: 0 4rem;
			font-size: 6rem;
			letter-spacing: .3rem;
			color: ac(text);
			&:active,
			&:visited,
			&:focus,
			&:hover {
				text-decoration: none;
			}
		}
	}
	@media (min-width: $b-medium) {
		ul li a {
			padding: 1rem 10rem;
			&:active,
			&:visited,
			&:hover {
				text-decoration: underline;
			}
		}
	}
	@media (min-width: $b-xlarge) {
		& ul {
			display: block;
			text-align: right;
			& li {
				display: inline-block;
				& a {
					padding: 2rem 3rem;
					font-size: 1.5rem;
					text-transform: uppercase;
					&:hover {
						color: ac(fourth);
						text-decoration: none;
					}
				}
			}
		}
	}
}

.site-header__nav-logo {
	display: none;
}

//hamburger btn
.site-header__nav-ham-btn {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 4rem;
	height: 4rem;
	z-index: 999;
	& .line {
		background-color: ac(black);
		height: .25rem;
		width: 100%;
		transition: all .33s ease-in-out;
		&:nth-child(2) {
			width: 60%;
			align-self: end;
		}
	}
	@media (min-width: $b-xlarge) {
		display: none;
	}
}

//hamburger active
.site-header .site-header__mob-nav-active {
	.site-header__nav-ham-btn {
		position: absolute;
		right: 4rem;
		top: 2.5rem;
		z-index: 9999;
		& .line {
			&:nth-child(1) {
				transform: rotate(45deg);
				margin-top: 2rem;
				padding: 0.1rem;
			}
			&:nth-child(3) {
				transform: rotate(-45deg);
				margin-bottom: 2.2rem;
				padding: 0.1rem;
			}
			&:nth-child(2) {
				display: none;
			}
		}
		@media (min-width: $b-medium) {
			right: 10rem;
			top: 4rem;
		}
	}
}

//mob nav popup
.site-header .site-header__mob-nav-active {
	& ul {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		padding-top: 12rem;
		font-family: $third-font-family;
		background-color: ac(third);
		z-index: 999;
	}
	& .site-header__nav-logo {
		display: block;
		& a {
			display: block;
		}
		& .logo-small {
			display: block;
			position: absolute;
			z-index: 9999;
			top: 3.5rem;
			left: 4rem;
			& path {
				fill: ac(black);
			}
			@media(min-width: $b-medium) {
				display: none;
			}
		}
		& .logo-extend {
			display: none;
			position: absolute;
			z-index: 9999;
			top: 3.25rem;
			left: 10rem;
			& path {
				fill: ac(black);
			}
			@media(min-width: $b-medium) {
				display: block;
			}
		}
	}
}

//booking btn
.site-header .booking-btn {
	@media (min-width: $b-medium) {
		margin-right: 4rem;
	}
	@media (min-width: $b-xlarge) {
		display: none;
	}
}

.site-header .site-header__nav .active-nav-link a {
	color: ac(fourth);
}

//site-header language switcher
.site-header .site-header__language-switcher {
	display: none;
	& ul {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 0;
		& li {
			display: inline-block;
			& a {
				display: block;
				padding: 2rem 1rem;
				letter-spacing: .3rem;
				font-size: 1.5rem;
				text-transform: uppercase;
				color: ac(text-col);
			}
			& .active-lang {
				font-family: $second-font-family;
				color: ac(black);
			}
		}
	}
	@media	(min-width: $b-xlarge) {
		flex-basis: 20rem;
		display: block;
		text-align: right;
	}
	@media (min-width: $b-xxlarge) {
		flex-basis: 50rem;
	}
	@media (min-width: $b-xxxlarge) {
		flex-basis: 75rem;
	}
}


.start-page .site-header__nav-ham-btn {
	z-index: 999;
	& .line {
		background-color: ac(third);
	}
}

.start-page .site-header__nav {
	& ul li a {
		color: ac(white);
		&:hover {
			color: ac(white);
			text-decoration: none;
		}
	}
	@media (min-width: $b-medium) {
		ul li a {
			&:active,
			&:visited,
			&:focus,
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.start-page .site-header .site-header__language-switcher {
	& ul li .active-lang {
	color: ac(white);
	}
}

.start-page .site-header .site-header__mob-nav-active {
	ul {
		background-color: #0b2b24;
	}
	& .site-header__nav-logo {
		& path {
			fill: ac(white);
		}
	}
}