//clearfix
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

//wrapper mixin
//$pad-vert-small - top and bottom paddings on small screens
//$pad-vert - top and bottom paddings on large screens
//$max-width - wrapper max width
//$bg-color - wrapper background color
@mixin wrapper ($pad-vert:4rem, $pad-vert-large:8rem, $pad-hor:2rem, $bg-color: none) {
	position: relative;
	width: 100%;
	padding: $pad-vert $pad-hor;
	background-color: $bg-color;
	@media (min-width: $b-large) {
		padding: $pad-vert-large $pad-hor;
	}
	// @include clearfix;
}

//container mixin for top and bottom border by pseudo-classes after and before. for container need to set position: relative rule
//$color - border color. Using in image file name, top_white.png
//$height - border height
@mixin border($color, $height: 2.5rem) {
	&::before {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: $height;
		background-image: url('../img/assets/top_' + $color + '.png');
		top: -2.5rem;
		left: 0;
		z-index: 1;
	}
	&::after {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: $height;
		background-image: url('../img/assets/bot_' + $color + '.png');
		bottom: -2.5rem;
		left: 0;
		z-index: 1;
	}
}


//bg img responsive
@mixin bg-image($padding-top: 100%) {
	padding-top: $padding-top;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 0;
	display: block;
}