// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$ic-arrow-back-name: 'ic-arrow_back';
$ic-arrow-back-x: 44px;
$ic-arrow-back-y: 0px;
$ic-arrow-back-offset-x: -44px;
$ic-arrow-back-offset-y: 0px;
$ic-arrow-back-width: 24px;
$ic-arrow-back-height: 24px;
$ic-arrow-back-total-width: 288px;
$ic-arrow-back-total-height: 288px;
$ic-arrow-back-image: '../img/assets/sprites/sprite.png';
$ic-arrow-back: (44px, 0px, -44px, 0px, 24px, 24px, 288px, 288px, '../img/assets/sprites/sprite.png', 'ic-arrow_back', );
$ic-arrow-downward-name: 'ic-arrow_downward';
$ic-arrow-downward-x: 44px;
$ic-arrow-downward-y: 176px;
$ic-arrow-downward-offset-x: -44px;
$ic-arrow-downward-offset-y: -176px;
$ic-arrow-downward-width: 24px;
$ic-arrow-downward-height: 24px;
$ic-arrow-downward-total-width: 288px;
$ic-arrow-downward-total-height: 288px;
$ic-arrow-downward-image: '../img/assets/sprites/sprite.png';
$ic-arrow-downward: (44px, 176px, -44px, -176px, 24px, 24px, 288px, 288px, '../img/assets/sprites/sprite.png', 'ic-arrow_downward', );
$ic-arrow-drop-down-name: 'ic-arrow_drop_down';
$ic-arrow-drop-down-x: 0px;
$ic-arrow-drop-down-y: 44px;
$ic-arrow-drop-down-offset-x: 0px;
$ic-arrow-drop-down-offset-y: -44px;
$ic-arrow-drop-down-width: 24px;
$ic-arrow-drop-down-height: 24px;
$ic-arrow-drop-down-total-width: 288px;
$ic-arrow-drop-down-total-height: 288px;
$ic-arrow-drop-down-image: '../img/assets/sprites/sprite.png';
$ic-arrow-drop-down: (0px, 44px, 0px, -44px, 24px, 24px, 288px, 288px, '../img/assets/sprites/sprite.png', 'ic-arrow_drop_down', );
$ic-arrow-drop-down-circle-name: 'ic-arrow_drop_down_circle';
$ic-arrow-drop-down-circle-x: 44px;
$ic-arrow-drop-down-circle-y: 44px;
$ic-arrow-drop-down-circle-offset-x: -44px;
$ic-arrow-drop-down-circle-offset-y: -44px;
$ic-arrow-drop-down-circle-width: 24px;
$ic-arrow-drop-down-circle-height: 24px;
$ic-arrow-drop-down-circle-total-width: 288px;
$ic-arrow-drop-down-circle-total-height: 288px;
$ic-arrow-drop-down-circle-image: '../img/assets/sprites/sprite.png';
$ic-arrow-drop-down-circle: (44px, 44px, -44px, -44px, 24px, 24px, 288px, 288px, '../img/assets/sprites/sprite.png', 'ic-arrow_drop_down_circle', );
$ic-arrow-drop-up-name: 'ic-arrow_drop_up';
$ic-arrow-drop-up-x: 88px;
$ic-arrow-drop-up-y: 0px;
$ic-arrow-drop-up-offset-x: -88px;
$ic-arrow-drop-up-offset-y: 0px;
$ic-arrow-drop-up-width: 24px;
$ic-arrow-drop-up-height: 24px;
$ic-arrow-drop-up-total-width: 288px;
$ic-arrow-drop-up-total-height: 288px;
$ic-arrow-drop-up-image: '../img/assets/sprites/sprite.png';
$ic-arrow-drop-up: (88px, 0px, -88px, 0px, 24px, 24px, 288px, 288px, '../img/assets/sprites/sprite.png', 'ic-arrow_drop_up', );
$ic-arrow-forward-name: 'ic-arrow_forward';
$ic-arrow-forward-x: 88px;
$ic-arrow-forward-y: 44px;
$ic-arrow-forward-offset-x: -88px;
$ic-arrow-forward-offset-y: -44px;
$ic-arrow-forward-width: 24px;
$ic-arrow-forward-height: 24px;
$ic-arrow-forward-total-width: 288px;
$ic-arrow-forward-total-height: 288px;
$ic-arrow-forward-image: '../img/assets/sprites/sprite.png';
$ic-arrow-forward: (88px, 44px, -88px, -44px, 24px, 24px, 288px, 288px, '../img/assets/sprites/sprite.png', 'ic-arrow_forward', );
$ic-arrow-upward-name: 'ic-arrow_upward';
$ic-arrow-upward-x: 0px;
$ic-arrow-upward-y: 88px;
$ic-arrow-upward-offset-x: 0px;
$ic-arrow-upward-offset-y: -88px;
$ic-arrow-upward-width: 24px;
$ic-arrow-upward-height: 24px;
$ic-arrow-upward-total-width: 288px;
$ic-arrow-upward-total-height: 288px;
$ic-arrow-upward-image: '../img/assets/sprites/sprite.png';
$ic-arrow-upward: (0px, 88px, 0px, -88px, 24px, 24px, 288px, 288px, '../img/assets/sprites/sprite.png', 'ic-arrow_upward', );
$ic-cancel-name: 'ic-cancel';
$ic-cancel-x: 44px;
$ic-cancel-y: 88px;
$ic-cancel-offset-x: -44px;
$ic-cancel-offset-y: -88px;
$ic-cancel-width: 24px;
$ic-cancel-height: 24px;
$ic-cancel-total-width: 288px;
$ic-cancel-total-height: 288px;
$ic-cancel-image: '../img/assets/sprites/sprite.png';
$ic-cancel: (44px, 88px, -44px, -88px, 24px, 24px, 288px, 288px, '../img/assets/sprites/sprite.png', 'ic-cancel', );
$ic-check-name: 'ic-check';
$ic-check-x: 0px;
$ic-check-y: 264px;
$ic-check-offset-x: 0px;
$ic-check-offset-y: -264px;
$ic-check-width: 23px;
$ic-check-height: 24px;
$ic-check-total-width: 288px;
$ic-check-total-height: 288px;
$ic-check-image: '../img/assets/sprites/sprite.png';
$ic-check: (0px, 264px, 0px, -264px, 23px, 24px, 288px, 288px, '../img/assets/sprites/sprite.png', 'ic-check', );
$ic-chevron-left-name: 'ic-chevron_left';
$ic-chevron-left-x: 132px;
$ic-chevron-left-y: 0px;
$ic-chevron-left-offset-x: -132px;
$ic-chevron-left-offset-y: 0px;
$ic-chevron-left-width: 24px;
$ic-chevron-left-height: 24px;
$ic-chevron-left-total-width: 288px;
$ic-chevron-left-total-height: 288px;
$ic-chevron-left-image: '../img/assets/sprites/sprite.png';
$ic-chevron-left: (132px, 0px, -132px, 0px, 24px, 24px, 288px, 288px, '../img/assets/sprites/sprite.png', 'ic-chevron_left', );
$ic-chevron-right-name: 'ic-chevron_right';
$ic-chevron-right-x: 132px;
$ic-chevron-right-y: 44px;
$ic-chevron-right-offset-x: -132px;
$ic-chevron-right-offset-y: -44px;
$ic-chevron-right-width: 24px;
$ic-chevron-right-height: 24px;
$ic-chevron-right-total-width: 288px;
$ic-chevron-right-total-height: 288px;
$ic-chevron-right-image: '../img/assets/sprites/sprite.png';
$ic-chevron-right: (132px, 44px, -132px, -44px, 24px, 24px, 288px, 288px, '../img/assets/sprites/sprite.png', 'ic-chevron_right', );
$ic-close-w-name: 'ic-close-w';
$ic-close-w-x: 132px;
$ic-close-w-y: 88px;
$ic-close-w-offset-x: -132px;
$ic-close-w-offset-y: -88px;
$ic-close-w-width: 24px;
$ic-close-w-height: 24px;
$ic-close-w-total-width: 288px;
$ic-close-w-total-height: 288px;
$ic-close-w-image: '../img/assets/sprites/sprite.png';
$ic-close-w: (132px, 88px, -132px, -88px, 24px, 24px, 288px, 288px, '../img/assets/sprites/sprite.png', 'ic-close-w', );
$ic-close-name: 'ic-close';
$ic-close-x: 0px;
$ic-close-y: 132px;
$ic-close-offset-x: 0px;
$ic-close-offset-y: -132px;
$ic-close-width: 24px;
$ic-close-height: 24px;
$ic-close-total-width: 288px;
$ic-close-total-height: 288px;
$ic-close-image: '../img/assets/sprites/sprite.png';
$ic-close: (0px, 132px, 0px, -132px, 24px, 24px, 288px, 288px, '../img/assets/sprites/sprite.png', 'ic-close', );
$ic-dashboard-name: 'ic-dashboard';
$ic-dashboard-x: 44px;
$ic-dashboard-y: 132px;
$ic-dashboard-offset-x: -44px;
$ic-dashboard-offset-y: -132px;
$ic-dashboard-width: 24px;
$ic-dashboard-height: 24px;
$ic-dashboard-total-width: 288px;
$ic-dashboard-total-height: 288px;
$ic-dashboard-image: '../img/assets/sprites/sprite.png';
$ic-dashboard: (44px, 132px, -44px, -132px, 24px, 24px, 288px, 288px, '../img/assets/sprites/sprite.png', 'ic-dashboard', );
$ic-domain-name: 'ic-domain';
$ic-domain-x: 88px;
$ic-domain-y: 132px;
$ic-domain-offset-x: -88px;
$ic-domain-offset-y: -132px;
$ic-domain-width: 24px;
$ic-domain-height: 24px;
$ic-domain-total-width: 288px;
$ic-domain-total-height: 288px;
$ic-domain-image: '../img/assets/sprites/sprite.png';
$ic-domain: (88px, 132px, -88px, -132px, 24px, 24px, 288px, 288px, '../img/assets/sprites/sprite.png', 'ic-domain', );
$ic-error-name: 'ic-error';
$ic-error-x: 132px;
$ic-error-y: 132px;
$ic-error-offset-x: -132px;
$ic-error-offset-y: -132px;
$ic-error-width: 24px;
$ic-error-height: 24px;
$ic-error-total-width: 288px;
$ic-error-total-height: 288px;
$ic-error-image: '../img/assets/sprites/sprite.png';
$ic-error: (132px, 132px, -132px, -132px, 24px, 24px, 288px, 288px, '../img/assets/sprites/sprite.png', 'ic-error', );
$ic-error-outline-name: 'ic-error_outline';
$ic-error-outline-x: 176px;
$ic-error-outline-y: 0px;
$ic-error-outline-offset-x: -176px;
$ic-error-outline-offset-y: 0px;
$ic-error-outline-width: 24px;
$ic-error-outline-height: 24px;
$ic-error-outline-total-width: 288px;
$ic-error-outline-total-height: 288px;
$ic-error-outline-image: '../img/assets/sprites/sprite.png';
$ic-error-outline: (176px, 0px, -176px, 0px, 24px, 24px, 288px, 288px, '../img/assets/sprites/sprite.png', 'ic-error_outline', );
$ic-expand-less-name: 'ic-expand_less';
$ic-expand-less-x: 176px;
$ic-expand-less-y: 44px;
$ic-expand-less-offset-x: -176px;
$ic-expand-less-offset-y: -44px;
$ic-expand-less-width: 24px;
$ic-expand-less-height: 24px;
$ic-expand-less-total-width: 288px;
$ic-expand-less-total-height: 288px;
$ic-expand-less-image: '../img/assets/sprites/sprite.png';
$ic-expand-less: (176px, 44px, -176px, -44px, 24px, 24px, 288px, 288px, '../img/assets/sprites/sprite.png', 'ic-expand_less', );
$ic-expand-more-name: 'ic-expand_more';
$ic-expand-more-x: 176px;
$ic-expand-more-y: 88px;
$ic-expand-more-offset-x: -176px;
$ic-expand-more-offset-y: -88px;
$ic-expand-more-width: 24px;
$ic-expand-more-height: 24px;
$ic-expand-more-total-width: 288px;
$ic-expand-more-total-height: 288px;
$ic-expand-more-image: '../img/assets/sprites/sprite.png';
$ic-expand-more: (176px, 88px, -176px, -88px, 24px, 24px, 288px, 288px, '../img/assets/sprites/sprite.png', 'ic-expand_more', );
$ic-facebook-w-name: 'ic-facebook-w';
$ic-facebook-w-x: 176px;
$ic-facebook-w-y: 132px;
$ic-facebook-w-offset-x: -176px;
$ic-facebook-w-offset-y: -132px;
$ic-facebook-w-width: 24px;
$ic-facebook-w-height: 24px;
$ic-facebook-w-total-width: 288px;
$ic-facebook-w-total-height: 288px;
$ic-facebook-w-image: '../img/assets/sprites/sprite.png';
$ic-facebook-w: (176px, 132px, -176px, -132px, 24px, 24px, 288px, 288px, '../img/assets/sprites/sprite.png', 'ic-facebook-w', );
$ic-facebook-name: 'ic-facebook';
$ic-facebook-x: 0px;
$ic-facebook-y: 176px;
$ic-facebook-offset-x: 0px;
$ic-facebook-offset-y: -176px;
$ic-facebook-width: 24px;
$ic-facebook-height: 24px;
$ic-facebook-total-width: 288px;
$ic-facebook-total-height: 288px;
$ic-facebook-image: '../img/assets/sprites/sprite.png';
$ic-facebook: (0px, 176px, 0px, -176px, 24px, 24px, 288px, 288px, '../img/assets/sprites/sprite.png', 'ic-facebook', );
$ic-fullscreen-name: 'ic-fullscreen';
$ic-fullscreen-x: 0px;
$ic-fullscreen-y: 0px;
$ic-fullscreen-offset-x: 0px;
$ic-fullscreen-offset-y: 0px;
$ic-fullscreen-width: 24px;
$ic-fullscreen-height: 24px;
$ic-fullscreen-total-width: 288px;
$ic-fullscreen-total-height: 288px;
$ic-fullscreen-image: '../img/assets/sprites/sprite.png';
$ic-fullscreen: (0px, 0px, 0px, 0px, 24px, 24px, 288px, 288px, '../img/assets/sprites/sprite.png', 'ic-fullscreen', );
$ic-fullscreen-exit-name: 'ic-fullscreen_exit';
$ic-fullscreen-exit-x: 88px;
$ic-fullscreen-exit-y: 176px;
$ic-fullscreen-exit-offset-x: -88px;
$ic-fullscreen-exit-offset-y: -176px;
$ic-fullscreen-exit-width: 24px;
$ic-fullscreen-exit-height: 24px;
$ic-fullscreen-exit-total-width: 288px;
$ic-fullscreen-exit-total-height: 288px;
$ic-fullscreen-exit-image: '../img/assets/sprites/sprite.png';
$ic-fullscreen-exit: (88px, 176px, -88px, -176px, 24px, 24px, 288px, 288px, '../img/assets/sprites/sprite.png', 'ic-fullscreen_exit', );
$ic-home-name: 'ic-home';
$ic-home-x: 132px;
$ic-home-y: 176px;
$ic-home-offset-x: -132px;
$ic-home-offset-y: -176px;
$ic-home-width: 24px;
$ic-home-height: 24px;
$ic-home-total-width: 288px;
$ic-home-total-height: 288px;
$ic-home-image: '../img/assets/sprites/sprite.png';
$ic-home: (132px, 176px, -132px, -176px, 24px, 24px, 288px, 288px, '../img/assets/sprites/sprite.png', 'ic-home', );
$ic-instagram-w-name: 'ic-instagram-w';
$ic-instagram-w-x: 176px;
$ic-instagram-w-y: 176px;
$ic-instagram-w-offset-x: -176px;
$ic-instagram-w-offset-y: -176px;
$ic-instagram-w-width: 24px;
$ic-instagram-w-height: 24px;
$ic-instagram-w-total-width: 288px;
$ic-instagram-w-total-height: 288px;
$ic-instagram-w-image: '../img/assets/sprites/sprite.png';
$ic-instagram-w: (176px, 176px, -176px, -176px, 24px, 24px, 288px, 288px, '../img/assets/sprites/sprite.png', 'ic-instagram-w', );
$ic-instagram-name: 'ic-instagram';
$ic-instagram-x: 220px;
$ic-instagram-y: 0px;
$ic-instagram-offset-x: -220px;
$ic-instagram-offset-y: 0px;
$ic-instagram-width: 24px;
$ic-instagram-height: 24px;
$ic-instagram-total-width: 288px;
$ic-instagram-total-height: 288px;
$ic-instagram-image: '../img/assets/sprites/sprite.png';
$ic-instagram: (220px, 0px, -220px, 0px, 24px, 24px, 288px, 288px, '../img/assets/sprites/sprite.png', 'ic-instagram', );
$ic-local-phone-name: 'ic-local_phone';
$ic-local-phone-x: 220px;
$ic-local-phone-y: 44px;
$ic-local-phone-offset-x: -220px;
$ic-local-phone-offset-y: -44px;
$ic-local-phone-width: 24px;
$ic-local-phone-height: 24px;
$ic-local-phone-total-width: 288px;
$ic-local-phone-total-height: 288px;
$ic-local-phone-image: '../img/assets/sprites/sprite.png';
$ic-local-phone: (220px, 44px, -220px, -44px, 24px, 24px, 288px, 288px, '../img/assets/sprites/sprite.png', 'ic-local_phone', );
$ic-local-post-office-name: 'ic-local_post_office';
$ic-local-post-office-x: 220px;
$ic-local-post-office-y: 88px;
$ic-local-post-office-offset-x: -220px;
$ic-local-post-office-offset-y: -88px;
$ic-local-post-office-width: 24px;
$ic-local-post-office-height: 24px;
$ic-local-post-office-total-width: 288px;
$ic-local-post-office-total-height: 288px;
$ic-local-post-office-image: '../img/assets/sprites/sprite.png';
$ic-local-post-office: (220px, 88px, -220px, -88px, 24px, 24px, 288px, 288px, '../img/assets/sprites/sprite.png', 'ic-local_post_office', );
$ic-local-shipping-name: 'ic-local_shipping';
$ic-local-shipping-x: 220px;
$ic-local-shipping-y: 132px;
$ic-local-shipping-offset-x: -220px;
$ic-local-shipping-offset-y: -132px;
$ic-local-shipping-width: 24px;
$ic-local-shipping-height: 24px;
$ic-local-shipping-total-width: 288px;
$ic-local-shipping-total-height: 288px;
$ic-local-shipping-image: '../img/assets/sprites/sprite.png';
$ic-local-shipping: (220px, 132px, -220px, -132px, 24px, 24px, 288px, 288px, '../img/assets/sprites/sprite.png', 'ic-local_shipping', );
$ic-menu-assortiment-name: 'ic-menu-assortiment';
$ic-menu-assortiment-x: 220px;
$ic-menu-assortiment-y: 176px;
$ic-menu-assortiment-offset-x: -220px;
$ic-menu-assortiment-offset-y: -176px;
$ic-menu-assortiment-width: 24px;
$ic-menu-assortiment-height: 24px;
$ic-menu-assortiment-total-width: 288px;
$ic-menu-assortiment-total-height: 288px;
$ic-menu-assortiment-image: '../img/assets/sprites/sprite.png';
$ic-menu-assortiment: (220px, 176px, -220px, -176px, 24px, 24px, 288px, 288px, '../img/assets/sprites/sprite.png', 'ic-menu-assortiment', );
$ic-menu-w-name: 'ic-menu-w';
$ic-menu-w-x: 0px;
$ic-menu-w-y: 220px;
$ic-menu-w-offset-x: 0px;
$ic-menu-w-offset-y: -220px;
$ic-menu-w-width: 24px;
$ic-menu-w-height: 24px;
$ic-menu-w-total-width: 288px;
$ic-menu-w-total-height: 288px;
$ic-menu-w-image: '../img/assets/sprites/sprite.png';
$ic-menu-w: (0px, 220px, 0px, -220px, 24px, 24px, 288px, 288px, '../img/assets/sprites/sprite.png', 'ic-menu-w', );
$ic-menu-name: 'ic-menu';
$ic-menu-x: 44px;
$ic-menu-y: 220px;
$ic-menu-offset-x: -44px;
$ic-menu-offset-y: -220px;
$ic-menu-width: 24px;
$ic-menu-height: 24px;
$ic-menu-total-width: 288px;
$ic-menu-total-height: 288px;
$ic-menu-image: '../img/assets/sprites/sprite.png';
$ic-menu: (44px, 220px, -44px, -220px, 24px, 24px, 288px, 288px, '../img/assets/sprites/sprite.png', 'ic-menu', );
$ic-more-horiz-name: 'ic-more_horiz';
$ic-more-horiz-x: 88px;
$ic-more-horiz-y: 220px;
$ic-more-horiz-offset-x: -88px;
$ic-more-horiz-offset-y: -220px;
$ic-more-horiz-width: 24px;
$ic-more-horiz-height: 24px;
$ic-more-horiz-total-width: 288px;
$ic-more-horiz-total-height: 288px;
$ic-more-horiz-image: '../img/assets/sprites/sprite.png';
$ic-more-horiz: (88px, 220px, -88px, -220px, 24px, 24px, 288px, 288px, '../img/assets/sprites/sprite.png', 'ic-more_horiz', );
$ic-more-vert-name: 'ic-more_vert';
$ic-more-vert-x: 132px;
$ic-more-vert-y: 220px;
$ic-more-vert-offset-x: -132px;
$ic-more-vert-offset-y: -220px;
$ic-more-vert-width: 24px;
$ic-more-vert-height: 24px;
$ic-more-vert-total-width: 288px;
$ic-more-vert-total-height: 288px;
$ic-more-vert-image: '../img/assets/sprites/sprite.png';
$ic-more-vert: (132px, 220px, -132px, -220px, 24px, 24px, 288px, 288px, '../img/assets/sprites/sprite.png', 'ic-more_vert', );
$ic-pin-drop-name: 'ic-pin_drop';
$ic-pin-drop-x: 176px;
$ic-pin-drop-y: 220px;
$ic-pin-drop-offset-x: -176px;
$ic-pin-drop-offset-y: -220px;
$ic-pin-drop-width: 24px;
$ic-pin-drop-height: 24px;
$ic-pin-drop-total-width: 288px;
$ic-pin-drop-total-height: 288px;
$ic-pin-drop-image: '../img/assets/sprites/sprite.png';
$ic-pin-drop: (176px, 220px, -176px, -220px, 24px, 24px, 288px, 288px, '../img/assets/sprites/sprite.png', 'ic-pin_drop', );
$ic-place-name: 'ic-place';
$ic-place-x: 220px;
$ic-place-y: 220px;
$ic-place-offset-x: -220px;
$ic-place-offset-y: -220px;
$ic-place-width: 24px;
$ic-place-height: 24px;
$ic-place-total-width: 288px;
$ic-place-total-height: 288px;
$ic-place-image: '../img/assets/sprites/sprite.png';
$ic-place: (220px, 220px, -220px, -220px, 24px, 24px, 288px, 288px, '../img/assets/sprites/sprite.png', 'ic-place', );
$ic-point-w-name: 'ic-point_w';
$ic-point-w-x: 264px;
$ic-point-w-y: 0px;
$ic-point-w-offset-x: -264px;
$ic-point-w-offset-y: 0px;
$ic-point-w-width: 24px;
$ic-point-w-height: 24px;
$ic-point-w-total-width: 288px;
$ic-point-w-total-height: 288px;
$ic-point-w-image: '../img/assets/sprites/sprite.png';
$ic-point-w: (264px, 0px, -264px, 0px, 24px, 24px, 288px, 288px, '../img/assets/sprites/sprite.png', 'ic-point_w', );
$ic-refresh-name: 'ic-refresh';
$ic-refresh-x: 264px;
$ic-refresh-y: 44px;
$ic-refresh-offset-x: -264px;
$ic-refresh-offset-y: -44px;
$ic-refresh-width: 24px;
$ic-refresh-height: 24px;
$ic-refresh-total-width: 288px;
$ic-refresh-total-height: 288px;
$ic-refresh-image: '../img/assets/sprites/sprite.png';
$ic-refresh: (264px, 44px, -264px, -44px, 24px, 24px, 288px, 288px, '../img/assets/sprites/sprite.png', 'ic-refresh', );
$ic-restaurant-menu-name: 'ic-restaurant_menu';
$ic-restaurant-menu-x: 264px;
$ic-restaurant-menu-y: 88px;
$ic-restaurant-menu-offset-x: -264px;
$ic-restaurant-menu-offset-y: -88px;
$ic-restaurant-menu-width: 24px;
$ic-restaurant-menu-height: 24px;
$ic-restaurant-menu-total-width: 288px;
$ic-restaurant-menu-total-height: 288px;
$ic-restaurant-menu-image: '../img/assets/sprites/sprite.png';
$ic-restaurant-menu: (264px, 88px, -264px, -88px, 24px, 24px, 288px, 288px, '../img/assets/sprites/sprite.png', 'ic-restaurant_menu', );
$ic-subject-name: 'ic-subject';
$ic-subject-x: 264px;
$ic-subject-y: 132px;
$ic-subject-offset-x: -264px;
$ic-subject-offset-y: -132px;
$ic-subject-width: 24px;
$ic-subject-height: 24px;
$ic-subject-total-width: 288px;
$ic-subject-total-height: 288px;
$ic-subject-image: '../img/assets/sprites/sprite.png';
$ic-subject: (264px, 132px, -264px, -132px, 24px, 24px, 288px, 288px, '../img/assets/sprites/sprite.png', 'ic-subject', );
$ic-warning-name: 'ic-warning';
$ic-warning-x: 264px;
$ic-warning-y: 176px;
$ic-warning-offset-x: -264px;
$ic-warning-offset-y: -176px;
$ic-warning-width: 24px;
$ic-warning-height: 24px;
$ic-warning-total-width: 288px;
$ic-warning-total-height: 288px;
$ic-warning-image: '../img/assets/sprites/sprite.png';
$ic-warning: (264px, 176px, -264px, -176px, 24px, 24px, 288px, 288px, '../img/assets/sprites/sprite.png', 'ic-warning', );
$ic-wine-name: 'ic-wine';
$ic-wine-x: 88px;
$ic-wine-y: 88px;
$ic-wine-offset-x: -88px;
$ic-wine-offset-y: -88px;
$ic-wine-width: 24px;
$ic-wine-height: 24px;
$ic-wine-total-width: 288px;
$ic-wine-total-height: 288px;
$ic-wine-image: '../img/assets/sprites/sprite.png';
$ic-wine: (88px, 88px, -88px, -88px, 24px, 24px, 288px, 288px, '../img/assets/sprites/sprite.png', 'ic-wine', );
$ic-zoom-out-map-name: 'ic-zoom_out_map';
$ic-zoom-out-map-x: 264px;
$ic-zoom-out-map-y: 220px;
$ic-zoom-out-map-offset-x: -264px;
$ic-zoom-out-map-offset-y: -220px;
$ic-zoom-out-map-width: 24px;
$ic-zoom-out-map-height: 24px;
$ic-zoom-out-map-total-width: 288px;
$ic-zoom-out-map-total-height: 288px;
$ic-zoom-out-map-image: '../img/assets/sprites/sprite.png';
$ic-zoom-out-map: (264px, 220px, -264px, -220px, 24px, 24px, 288px, 288px, '../img/assets/sprites/sprite.png', 'ic-zoom_out_map', );
$ic-arrow-back-2x-name: 'ic-arrow_back@2x';
$ic-arrow-back-2x-x: 88px;
$ic-arrow-back-2x-y: 0px;
$ic-arrow-back-2x-offset-x: -88px;
$ic-arrow-back-2x-offset-y: 0px;
$ic-arrow-back-2x-width: 48px;
$ic-arrow-back-2x-height: 48px;
$ic-arrow-back-2x-total-width: 576px;
$ic-arrow-back-2x-total-height: 576px;
$ic-arrow-back-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-arrow-back-2x: (88px, 0px, -88px, 0px, 48px, 48px, 576px, 576px, '../img/assets/sprites/sprite@2x.png', 'ic-arrow_back@2x', );
$ic-arrow-downward-2x-name: 'ic-arrow_downward@2x';
$ic-arrow-downward-2x-x: 88px;
$ic-arrow-downward-2x-y: 352px;
$ic-arrow-downward-2x-offset-x: -88px;
$ic-arrow-downward-2x-offset-y: -352px;
$ic-arrow-downward-2x-width: 48px;
$ic-arrow-downward-2x-height: 48px;
$ic-arrow-downward-2x-total-width: 576px;
$ic-arrow-downward-2x-total-height: 576px;
$ic-arrow-downward-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-arrow-downward-2x: (88px, 352px, -88px, -352px, 48px, 48px, 576px, 576px, '../img/assets/sprites/sprite@2x.png', 'ic-arrow_downward@2x', );
$ic-arrow-drop-down-2x-name: 'ic-arrow_drop_down@2x';
$ic-arrow-drop-down-2x-x: 0px;
$ic-arrow-drop-down-2x-y: 88px;
$ic-arrow-drop-down-2x-offset-x: 0px;
$ic-arrow-drop-down-2x-offset-y: -88px;
$ic-arrow-drop-down-2x-width: 48px;
$ic-arrow-drop-down-2x-height: 48px;
$ic-arrow-drop-down-2x-total-width: 576px;
$ic-arrow-drop-down-2x-total-height: 576px;
$ic-arrow-drop-down-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-arrow-drop-down-2x: (0px, 88px, 0px, -88px, 48px, 48px, 576px, 576px, '../img/assets/sprites/sprite@2x.png', 'ic-arrow_drop_down@2x', );
$ic-arrow-drop-down-circle-2x-name: 'ic-arrow_drop_down_circle@2x';
$ic-arrow-drop-down-circle-2x-x: 88px;
$ic-arrow-drop-down-circle-2x-y: 88px;
$ic-arrow-drop-down-circle-2x-offset-x: -88px;
$ic-arrow-drop-down-circle-2x-offset-y: -88px;
$ic-arrow-drop-down-circle-2x-width: 48px;
$ic-arrow-drop-down-circle-2x-height: 48px;
$ic-arrow-drop-down-circle-2x-total-width: 576px;
$ic-arrow-drop-down-circle-2x-total-height: 576px;
$ic-arrow-drop-down-circle-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-arrow-drop-down-circle-2x: (88px, 88px, -88px, -88px, 48px, 48px, 576px, 576px, '../img/assets/sprites/sprite@2x.png', 'ic-arrow_drop_down_circle@2x', );
$ic-arrow-drop-up-2x-name: 'ic-arrow_drop_up@2x';
$ic-arrow-drop-up-2x-x: 176px;
$ic-arrow-drop-up-2x-y: 0px;
$ic-arrow-drop-up-2x-offset-x: -176px;
$ic-arrow-drop-up-2x-offset-y: 0px;
$ic-arrow-drop-up-2x-width: 48px;
$ic-arrow-drop-up-2x-height: 48px;
$ic-arrow-drop-up-2x-total-width: 576px;
$ic-arrow-drop-up-2x-total-height: 576px;
$ic-arrow-drop-up-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-arrow-drop-up-2x: (176px, 0px, -176px, 0px, 48px, 48px, 576px, 576px, '../img/assets/sprites/sprite@2x.png', 'ic-arrow_drop_up@2x', );
$ic-arrow-forward-2x-name: 'ic-arrow_forward@2x';
$ic-arrow-forward-2x-x: 176px;
$ic-arrow-forward-2x-y: 88px;
$ic-arrow-forward-2x-offset-x: -176px;
$ic-arrow-forward-2x-offset-y: -88px;
$ic-arrow-forward-2x-width: 48px;
$ic-arrow-forward-2x-height: 48px;
$ic-arrow-forward-2x-total-width: 576px;
$ic-arrow-forward-2x-total-height: 576px;
$ic-arrow-forward-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-arrow-forward-2x: (176px, 88px, -176px, -88px, 48px, 48px, 576px, 576px, '../img/assets/sprites/sprite@2x.png', 'ic-arrow_forward@2x', );
$ic-arrow-upward-2x-name: 'ic-arrow_upward@2x';
$ic-arrow-upward-2x-x: 0px;
$ic-arrow-upward-2x-y: 176px;
$ic-arrow-upward-2x-offset-x: 0px;
$ic-arrow-upward-2x-offset-y: -176px;
$ic-arrow-upward-2x-width: 48px;
$ic-arrow-upward-2x-height: 48px;
$ic-arrow-upward-2x-total-width: 576px;
$ic-arrow-upward-2x-total-height: 576px;
$ic-arrow-upward-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-arrow-upward-2x: (0px, 176px, 0px, -176px, 48px, 48px, 576px, 576px, '../img/assets/sprites/sprite@2x.png', 'ic-arrow_upward@2x', );
$ic-cancel-2x-name: 'ic-cancel@2x';
$ic-cancel-2x-x: 88px;
$ic-cancel-2x-y: 176px;
$ic-cancel-2x-offset-x: -88px;
$ic-cancel-2x-offset-y: -176px;
$ic-cancel-2x-width: 48px;
$ic-cancel-2x-height: 48px;
$ic-cancel-2x-total-width: 576px;
$ic-cancel-2x-total-height: 576px;
$ic-cancel-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-cancel-2x: (88px, 176px, -88px, -176px, 48px, 48px, 576px, 576px, '../img/assets/sprites/sprite@2x.png', 'ic-cancel@2x', );
$ic-check-2x-name: 'ic-check@2x';
$ic-check-2x-x: 0px;
$ic-check-2x-y: 528px;
$ic-check-2x-offset-x: 0px;
$ic-check-2x-offset-y: -528px;
$ic-check-2x-width: 46px;
$ic-check-2x-height: 48px;
$ic-check-2x-total-width: 576px;
$ic-check-2x-total-height: 576px;
$ic-check-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-check-2x: (0px, 528px, 0px, -528px, 46px, 48px, 576px, 576px, '../img/assets/sprites/sprite@2x.png', 'ic-check@2x', );
$ic-chevron-left-2x-name: 'ic-chevron_left@2x';
$ic-chevron-left-2x-x: 264px;
$ic-chevron-left-2x-y: 0px;
$ic-chevron-left-2x-offset-x: -264px;
$ic-chevron-left-2x-offset-y: 0px;
$ic-chevron-left-2x-width: 48px;
$ic-chevron-left-2x-height: 48px;
$ic-chevron-left-2x-total-width: 576px;
$ic-chevron-left-2x-total-height: 576px;
$ic-chevron-left-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-chevron-left-2x: (264px, 0px, -264px, 0px, 48px, 48px, 576px, 576px, '../img/assets/sprites/sprite@2x.png', 'ic-chevron_left@2x', );
$ic-chevron-right-2x-name: 'ic-chevron_right@2x';
$ic-chevron-right-2x-x: 264px;
$ic-chevron-right-2x-y: 88px;
$ic-chevron-right-2x-offset-x: -264px;
$ic-chevron-right-2x-offset-y: -88px;
$ic-chevron-right-2x-width: 48px;
$ic-chevron-right-2x-height: 48px;
$ic-chevron-right-2x-total-width: 576px;
$ic-chevron-right-2x-total-height: 576px;
$ic-chevron-right-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-chevron-right-2x: (264px, 88px, -264px, -88px, 48px, 48px, 576px, 576px, '../img/assets/sprites/sprite@2x.png', 'ic-chevron_right@2x', );
$ic-close-w-2x-name: 'ic-close-w@2x';
$ic-close-w-2x-x: 264px;
$ic-close-w-2x-y: 176px;
$ic-close-w-2x-offset-x: -264px;
$ic-close-w-2x-offset-y: -176px;
$ic-close-w-2x-width: 48px;
$ic-close-w-2x-height: 48px;
$ic-close-w-2x-total-width: 576px;
$ic-close-w-2x-total-height: 576px;
$ic-close-w-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-close-w-2x: (264px, 176px, -264px, -176px, 48px, 48px, 576px, 576px, '../img/assets/sprites/sprite@2x.png', 'ic-close-w@2x', );
$ic-close-2x-name: 'ic-close@2x';
$ic-close-2x-x: 0px;
$ic-close-2x-y: 264px;
$ic-close-2x-offset-x: 0px;
$ic-close-2x-offset-y: -264px;
$ic-close-2x-width: 48px;
$ic-close-2x-height: 48px;
$ic-close-2x-total-width: 576px;
$ic-close-2x-total-height: 576px;
$ic-close-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-close-2x: (0px, 264px, 0px, -264px, 48px, 48px, 576px, 576px, '../img/assets/sprites/sprite@2x.png', 'ic-close@2x', );
$ic-dashboard-2x-name: 'ic-dashboard@2x';
$ic-dashboard-2x-x: 88px;
$ic-dashboard-2x-y: 264px;
$ic-dashboard-2x-offset-x: -88px;
$ic-dashboard-2x-offset-y: -264px;
$ic-dashboard-2x-width: 48px;
$ic-dashboard-2x-height: 48px;
$ic-dashboard-2x-total-width: 576px;
$ic-dashboard-2x-total-height: 576px;
$ic-dashboard-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-dashboard-2x: (88px, 264px, -88px, -264px, 48px, 48px, 576px, 576px, '../img/assets/sprites/sprite@2x.png', 'ic-dashboard@2x', );
$ic-domain-2x-name: 'ic-domain@2x';
$ic-domain-2x-x: 176px;
$ic-domain-2x-y: 264px;
$ic-domain-2x-offset-x: -176px;
$ic-domain-2x-offset-y: -264px;
$ic-domain-2x-width: 48px;
$ic-domain-2x-height: 48px;
$ic-domain-2x-total-width: 576px;
$ic-domain-2x-total-height: 576px;
$ic-domain-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-domain-2x: (176px, 264px, -176px, -264px, 48px, 48px, 576px, 576px, '../img/assets/sprites/sprite@2x.png', 'ic-domain@2x', );
$ic-error-2x-name: 'ic-error@2x';
$ic-error-2x-x: 264px;
$ic-error-2x-y: 264px;
$ic-error-2x-offset-x: -264px;
$ic-error-2x-offset-y: -264px;
$ic-error-2x-width: 48px;
$ic-error-2x-height: 48px;
$ic-error-2x-total-width: 576px;
$ic-error-2x-total-height: 576px;
$ic-error-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-error-2x: (264px, 264px, -264px, -264px, 48px, 48px, 576px, 576px, '../img/assets/sprites/sprite@2x.png', 'ic-error@2x', );
$ic-error-outline-2x-name: 'ic-error_outline@2x';
$ic-error-outline-2x-x: 352px;
$ic-error-outline-2x-y: 0px;
$ic-error-outline-2x-offset-x: -352px;
$ic-error-outline-2x-offset-y: 0px;
$ic-error-outline-2x-width: 48px;
$ic-error-outline-2x-height: 48px;
$ic-error-outline-2x-total-width: 576px;
$ic-error-outline-2x-total-height: 576px;
$ic-error-outline-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-error-outline-2x: (352px, 0px, -352px, 0px, 48px, 48px, 576px, 576px, '../img/assets/sprites/sprite@2x.png', 'ic-error_outline@2x', );
$ic-expand-less-2x-name: 'ic-expand_less@2x';
$ic-expand-less-2x-x: 352px;
$ic-expand-less-2x-y: 88px;
$ic-expand-less-2x-offset-x: -352px;
$ic-expand-less-2x-offset-y: -88px;
$ic-expand-less-2x-width: 48px;
$ic-expand-less-2x-height: 48px;
$ic-expand-less-2x-total-width: 576px;
$ic-expand-less-2x-total-height: 576px;
$ic-expand-less-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-expand-less-2x: (352px, 88px, -352px, -88px, 48px, 48px, 576px, 576px, '../img/assets/sprites/sprite@2x.png', 'ic-expand_less@2x', );
$ic-expand-more-2x-name: 'ic-expand_more@2x';
$ic-expand-more-2x-x: 352px;
$ic-expand-more-2x-y: 176px;
$ic-expand-more-2x-offset-x: -352px;
$ic-expand-more-2x-offset-y: -176px;
$ic-expand-more-2x-width: 48px;
$ic-expand-more-2x-height: 48px;
$ic-expand-more-2x-total-width: 576px;
$ic-expand-more-2x-total-height: 576px;
$ic-expand-more-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-expand-more-2x: (352px, 176px, -352px, -176px, 48px, 48px, 576px, 576px, '../img/assets/sprites/sprite@2x.png', 'ic-expand_more@2x', );
$ic-facebook-w-2x-name: 'ic-facebook-w@2x';
$ic-facebook-w-2x-x: 352px;
$ic-facebook-w-2x-y: 264px;
$ic-facebook-w-2x-offset-x: -352px;
$ic-facebook-w-2x-offset-y: -264px;
$ic-facebook-w-2x-width: 48px;
$ic-facebook-w-2x-height: 48px;
$ic-facebook-w-2x-total-width: 576px;
$ic-facebook-w-2x-total-height: 576px;
$ic-facebook-w-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-facebook-w-2x: (352px, 264px, -352px, -264px, 48px, 48px, 576px, 576px, '../img/assets/sprites/sprite@2x.png', 'ic-facebook-w@2x', );
$ic-facebook-2x-name: 'ic-facebook@2x';
$ic-facebook-2x-x: 0px;
$ic-facebook-2x-y: 352px;
$ic-facebook-2x-offset-x: 0px;
$ic-facebook-2x-offset-y: -352px;
$ic-facebook-2x-width: 48px;
$ic-facebook-2x-height: 48px;
$ic-facebook-2x-total-width: 576px;
$ic-facebook-2x-total-height: 576px;
$ic-facebook-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-facebook-2x: (0px, 352px, 0px, -352px, 48px, 48px, 576px, 576px, '../img/assets/sprites/sprite@2x.png', 'ic-facebook@2x', );
$ic-fullscreen-2x-name: 'ic-fullscreen@2x';
$ic-fullscreen-2x-x: 0px;
$ic-fullscreen-2x-y: 0px;
$ic-fullscreen-2x-offset-x: 0px;
$ic-fullscreen-2x-offset-y: 0px;
$ic-fullscreen-2x-width: 48px;
$ic-fullscreen-2x-height: 48px;
$ic-fullscreen-2x-total-width: 576px;
$ic-fullscreen-2x-total-height: 576px;
$ic-fullscreen-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-fullscreen-2x: (0px, 0px, 0px, 0px, 48px, 48px, 576px, 576px, '../img/assets/sprites/sprite@2x.png', 'ic-fullscreen@2x', );
$ic-fullscreen-exit-2x-name: 'ic-fullscreen_exit@2x';
$ic-fullscreen-exit-2x-x: 176px;
$ic-fullscreen-exit-2x-y: 352px;
$ic-fullscreen-exit-2x-offset-x: -176px;
$ic-fullscreen-exit-2x-offset-y: -352px;
$ic-fullscreen-exit-2x-width: 48px;
$ic-fullscreen-exit-2x-height: 48px;
$ic-fullscreen-exit-2x-total-width: 576px;
$ic-fullscreen-exit-2x-total-height: 576px;
$ic-fullscreen-exit-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-fullscreen-exit-2x: (176px, 352px, -176px, -352px, 48px, 48px, 576px, 576px, '../img/assets/sprites/sprite@2x.png', 'ic-fullscreen_exit@2x', );
$ic-home-2x-name: 'ic-home@2x';
$ic-home-2x-x: 264px;
$ic-home-2x-y: 352px;
$ic-home-2x-offset-x: -264px;
$ic-home-2x-offset-y: -352px;
$ic-home-2x-width: 48px;
$ic-home-2x-height: 48px;
$ic-home-2x-total-width: 576px;
$ic-home-2x-total-height: 576px;
$ic-home-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-home-2x: (264px, 352px, -264px, -352px, 48px, 48px, 576px, 576px, '../img/assets/sprites/sprite@2x.png', 'ic-home@2x', );
$ic-instagram-w-2x-name: 'ic-instagram-w@2x';
$ic-instagram-w-2x-x: 352px;
$ic-instagram-w-2x-y: 352px;
$ic-instagram-w-2x-offset-x: -352px;
$ic-instagram-w-2x-offset-y: -352px;
$ic-instagram-w-2x-width: 48px;
$ic-instagram-w-2x-height: 48px;
$ic-instagram-w-2x-total-width: 576px;
$ic-instagram-w-2x-total-height: 576px;
$ic-instagram-w-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-instagram-w-2x: (352px, 352px, -352px, -352px, 48px, 48px, 576px, 576px, '../img/assets/sprites/sprite@2x.png', 'ic-instagram-w@2x', );
$ic-instagram-2x-name: 'ic-instagram@2x';
$ic-instagram-2x-x: 440px;
$ic-instagram-2x-y: 0px;
$ic-instagram-2x-offset-x: -440px;
$ic-instagram-2x-offset-y: 0px;
$ic-instagram-2x-width: 48px;
$ic-instagram-2x-height: 48px;
$ic-instagram-2x-total-width: 576px;
$ic-instagram-2x-total-height: 576px;
$ic-instagram-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-instagram-2x: (440px, 0px, -440px, 0px, 48px, 48px, 576px, 576px, '../img/assets/sprites/sprite@2x.png', 'ic-instagram@2x', );
$ic-local-phone-2x-name: 'ic-local_phone@2x';
$ic-local-phone-2x-x: 440px;
$ic-local-phone-2x-y: 88px;
$ic-local-phone-2x-offset-x: -440px;
$ic-local-phone-2x-offset-y: -88px;
$ic-local-phone-2x-width: 48px;
$ic-local-phone-2x-height: 48px;
$ic-local-phone-2x-total-width: 576px;
$ic-local-phone-2x-total-height: 576px;
$ic-local-phone-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-local-phone-2x: (440px, 88px, -440px, -88px, 48px, 48px, 576px, 576px, '../img/assets/sprites/sprite@2x.png', 'ic-local_phone@2x', );
$ic-local-post-office-2x-name: 'ic-local_post_office@2x';
$ic-local-post-office-2x-x: 440px;
$ic-local-post-office-2x-y: 176px;
$ic-local-post-office-2x-offset-x: -440px;
$ic-local-post-office-2x-offset-y: -176px;
$ic-local-post-office-2x-width: 48px;
$ic-local-post-office-2x-height: 48px;
$ic-local-post-office-2x-total-width: 576px;
$ic-local-post-office-2x-total-height: 576px;
$ic-local-post-office-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-local-post-office-2x: (440px, 176px, -440px, -176px, 48px, 48px, 576px, 576px, '../img/assets/sprites/sprite@2x.png', 'ic-local_post_office@2x', );
$ic-local-shipping-2x-name: 'ic-local_shipping@2x';
$ic-local-shipping-2x-x: 440px;
$ic-local-shipping-2x-y: 264px;
$ic-local-shipping-2x-offset-x: -440px;
$ic-local-shipping-2x-offset-y: -264px;
$ic-local-shipping-2x-width: 48px;
$ic-local-shipping-2x-height: 48px;
$ic-local-shipping-2x-total-width: 576px;
$ic-local-shipping-2x-total-height: 576px;
$ic-local-shipping-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-local-shipping-2x: (440px, 264px, -440px, -264px, 48px, 48px, 576px, 576px, '../img/assets/sprites/sprite@2x.png', 'ic-local_shipping@2x', );
$ic-menu-assortiment-2x-name: 'ic-menu-assortiment@2x';
$ic-menu-assortiment-2x-x: 440px;
$ic-menu-assortiment-2x-y: 352px;
$ic-menu-assortiment-2x-offset-x: -440px;
$ic-menu-assortiment-2x-offset-y: -352px;
$ic-menu-assortiment-2x-width: 48px;
$ic-menu-assortiment-2x-height: 48px;
$ic-menu-assortiment-2x-total-width: 576px;
$ic-menu-assortiment-2x-total-height: 576px;
$ic-menu-assortiment-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-menu-assortiment-2x: (440px, 352px, -440px, -352px, 48px, 48px, 576px, 576px, '../img/assets/sprites/sprite@2x.png', 'ic-menu-assortiment@2x', );
$ic-menu-w-2x-name: 'ic-menu-w@2x';
$ic-menu-w-2x-x: 0px;
$ic-menu-w-2x-y: 440px;
$ic-menu-w-2x-offset-x: 0px;
$ic-menu-w-2x-offset-y: -440px;
$ic-menu-w-2x-width: 48px;
$ic-menu-w-2x-height: 48px;
$ic-menu-w-2x-total-width: 576px;
$ic-menu-w-2x-total-height: 576px;
$ic-menu-w-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-menu-w-2x: (0px, 440px, 0px, -440px, 48px, 48px, 576px, 576px, '../img/assets/sprites/sprite@2x.png', 'ic-menu-w@2x', );
$ic-menu-2x-name: 'ic-menu@2x';
$ic-menu-2x-x: 88px;
$ic-menu-2x-y: 440px;
$ic-menu-2x-offset-x: -88px;
$ic-menu-2x-offset-y: -440px;
$ic-menu-2x-width: 48px;
$ic-menu-2x-height: 48px;
$ic-menu-2x-total-width: 576px;
$ic-menu-2x-total-height: 576px;
$ic-menu-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-menu-2x: (88px, 440px, -88px, -440px, 48px, 48px, 576px, 576px, '../img/assets/sprites/sprite@2x.png', 'ic-menu@2x', );
$ic-more-horiz-2x-name: 'ic-more_horiz@2x';
$ic-more-horiz-2x-x: 176px;
$ic-more-horiz-2x-y: 440px;
$ic-more-horiz-2x-offset-x: -176px;
$ic-more-horiz-2x-offset-y: -440px;
$ic-more-horiz-2x-width: 48px;
$ic-more-horiz-2x-height: 48px;
$ic-more-horiz-2x-total-width: 576px;
$ic-more-horiz-2x-total-height: 576px;
$ic-more-horiz-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-more-horiz-2x: (176px, 440px, -176px, -440px, 48px, 48px, 576px, 576px, '../img/assets/sprites/sprite@2x.png', 'ic-more_horiz@2x', );
$ic-more-vert-2x-name: 'ic-more_vert@2x';
$ic-more-vert-2x-x: 264px;
$ic-more-vert-2x-y: 440px;
$ic-more-vert-2x-offset-x: -264px;
$ic-more-vert-2x-offset-y: -440px;
$ic-more-vert-2x-width: 48px;
$ic-more-vert-2x-height: 48px;
$ic-more-vert-2x-total-width: 576px;
$ic-more-vert-2x-total-height: 576px;
$ic-more-vert-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-more-vert-2x: (264px, 440px, -264px, -440px, 48px, 48px, 576px, 576px, '../img/assets/sprites/sprite@2x.png', 'ic-more_vert@2x', );
$ic-pin-drop-2x-name: 'ic-pin_drop@2x';
$ic-pin-drop-2x-x: 352px;
$ic-pin-drop-2x-y: 440px;
$ic-pin-drop-2x-offset-x: -352px;
$ic-pin-drop-2x-offset-y: -440px;
$ic-pin-drop-2x-width: 48px;
$ic-pin-drop-2x-height: 48px;
$ic-pin-drop-2x-total-width: 576px;
$ic-pin-drop-2x-total-height: 576px;
$ic-pin-drop-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-pin-drop-2x: (352px, 440px, -352px, -440px, 48px, 48px, 576px, 576px, '../img/assets/sprites/sprite@2x.png', 'ic-pin_drop@2x', );
$ic-place-2x-name: 'ic-place@2x';
$ic-place-2x-x: 440px;
$ic-place-2x-y: 440px;
$ic-place-2x-offset-x: -440px;
$ic-place-2x-offset-y: -440px;
$ic-place-2x-width: 48px;
$ic-place-2x-height: 48px;
$ic-place-2x-total-width: 576px;
$ic-place-2x-total-height: 576px;
$ic-place-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-place-2x: (440px, 440px, -440px, -440px, 48px, 48px, 576px, 576px, '../img/assets/sprites/sprite@2x.png', 'ic-place@2x', );
$ic-point-w-2x-name: 'ic-point_w@2x';
$ic-point-w-2x-x: 528px;
$ic-point-w-2x-y: 0px;
$ic-point-w-2x-offset-x: -528px;
$ic-point-w-2x-offset-y: 0px;
$ic-point-w-2x-width: 48px;
$ic-point-w-2x-height: 48px;
$ic-point-w-2x-total-width: 576px;
$ic-point-w-2x-total-height: 576px;
$ic-point-w-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-point-w-2x: (528px, 0px, -528px, 0px, 48px, 48px, 576px, 576px, '../img/assets/sprites/sprite@2x.png', 'ic-point_w@2x', );
$ic-refresh-2x-name: 'ic-refresh@2x';
$ic-refresh-2x-x: 528px;
$ic-refresh-2x-y: 88px;
$ic-refresh-2x-offset-x: -528px;
$ic-refresh-2x-offset-y: -88px;
$ic-refresh-2x-width: 48px;
$ic-refresh-2x-height: 48px;
$ic-refresh-2x-total-width: 576px;
$ic-refresh-2x-total-height: 576px;
$ic-refresh-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-refresh-2x: (528px, 88px, -528px, -88px, 48px, 48px, 576px, 576px, '../img/assets/sprites/sprite@2x.png', 'ic-refresh@2x', );
$ic-restaurant-menu-2x-name: 'ic-restaurant_menu@2x';
$ic-restaurant-menu-2x-x: 528px;
$ic-restaurant-menu-2x-y: 176px;
$ic-restaurant-menu-2x-offset-x: -528px;
$ic-restaurant-menu-2x-offset-y: -176px;
$ic-restaurant-menu-2x-width: 48px;
$ic-restaurant-menu-2x-height: 48px;
$ic-restaurant-menu-2x-total-width: 576px;
$ic-restaurant-menu-2x-total-height: 576px;
$ic-restaurant-menu-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-restaurant-menu-2x: (528px, 176px, -528px, -176px, 48px, 48px, 576px, 576px, '../img/assets/sprites/sprite@2x.png', 'ic-restaurant_menu@2x', );
$ic-subject-2x-name: 'ic-subject@2x';
$ic-subject-2x-x: 528px;
$ic-subject-2x-y: 264px;
$ic-subject-2x-offset-x: -528px;
$ic-subject-2x-offset-y: -264px;
$ic-subject-2x-width: 48px;
$ic-subject-2x-height: 48px;
$ic-subject-2x-total-width: 576px;
$ic-subject-2x-total-height: 576px;
$ic-subject-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-subject-2x: (528px, 264px, -528px, -264px, 48px, 48px, 576px, 576px, '../img/assets/sprites/sprite@2x.png', 'ic-subject@2x', );
$ic-warning-2x-name: 'ic-warning@2x';
$ic-warning-2x-x: 528px;
$ic-warning-2x-y: 352px;
$ic-warning-2x-offset-x: -528px;
$ic-warning-2x-offset-y: -352px;
$ic-warning-2x-width: 48px;
$ic-warning-2x-height: 48px;
$ic-warning-2x-total-width: 576px;
$ic-warning-2x-total-height: 576px;
$ic-warning-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-warning-2x: (528px, 352px, -528px, -352px, 48px, 48px, 576px, 576px, '../img/assets/sprites/sprite@2x.png', 'ic-warning@2x', );
$ic-wine-2x-name: 'ic-wine@2x';
$ic-wine-2x-x: 176px;
$ic-wine-2x-y: 176px;
$ic-wine-2x-offset-x: -176px;
$ic-wine-2x-offset-y: -176px;
$ic-wine-2x-width: 48px;
$ic-wine-2x-height: 48px;
$ic-wine-2x-total-width: 576px;
$ic-wine-2x-total-height: 576px;
$ic-wine-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-wine-2x: (176px, 176px, -176px, -176px, 48px, 48px, 576px, 576px, '../img/assets/sprites/sprite@2x.png', 'ic-wine@2x', );
$ic-zoom-out-map-2x-name: 'ic-zoom_out_map@2x';
$ic-zoom-out-map-2x-x: 528px;
$ic-zoom-out-map-2x-y: 440px;
$ic-zoom-out-map-2x-offset-x: -528px;
$ic-zoom-out-map-2x-offset-y: -440px;
$ic-zoom-out-map-2x-width: 48px;
$ic-zoom-out-map-2x-height: 48px;
$ic-zoom-out-map-2x-total-width: 576px;
$ic-zoom-out-map-2x-total-height: 576px;
$ic-zoom-out-map-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-zoom-out-map-2x: (528px, 440px, -528px, -440px, 48px, 48px, 576px, 576px, '../img/assets/sprites/sprite@2x.png', 'ic-zoom_out_map@2x', );
$spritesheet-width: 288px;
$spritesheet-height: 288px;
$spritesheet-image: '../img/assets/sprites/sprite.png';
$spritesheet-sprites: ($ic-arrow-back, $ic-arrow-downward, $ic-arrow-drop-down, $ic-arrow-drop-down-circle, $ic-arrow-drop-up, $ic-arrow-forward, $ic-arrow-upward, $ic-cancel, $ic-check, $ic-chevron-left, $ic-chevron-right, $ic-close-w, $ic-close, $ic-dashboard, $ic-domain, $ic-error, $ic-error-outline, $ic-expand-less, $ic-expand-more, $ic-facebook-w, $ic-facebook, $ic-fullscreen, $ic-fullscreen-exit, $ic-home, $ic-instagram-w, $ic-instagram, $ic-local-phone, $ic-local-post-office, $ic-local-shipping, $ic-menu-assortiment, $ic-menu-w, $ic-menu, $ic-more-horiz, $ic-more-vert, $ic-pin-drop, $ic-place, $ic-point-w, $ic-refresh, $ic-restaurant-menu, $ic-subject, $ic-warning, $ic-wine, $ic-zoom-out-map, );
$spritesheet: (288px, 288px, '../img/assets/sprites/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 576px;
$retina-spritesheet-height: 576px;
$retina-spritesheet-image: '../img/assets/sprites/sprite@2x.png';
$retina-spritesheet-sprites: ($ic-arrow-back-2x, $ic-arrow-downward-2x, $ic-arrow-drop-down-2x, $ic-arrow-drop-down-circle-2x, $ic-arrow-drop-up-2x, $ic-arrow-forward-2x, $ic-arrow-upward-2x, $ic-cancel-2x, $ic-check-2x, $ic-chevron-left-2x, $ic-chevron-right-2x, $ic-close-w-2x, $ic-close-2x, $ic-dashboard-2x, $ic-domain-2x, $ic-error-2x, $ic-error-outline-2x, $ic-expand-less-2x, $ic-expand-more-2x, $ic-facebook-w-2x, $ic-facebook-2x, $ic-fullscreen-2x, $ic-fullscreen-exit-2x, $ic-home-2x, $ic-instagram-w-2x, $ic-instagram-2x, $ic-local-phone-2x, $ic-local-post-office-2x, $ic-local-shipping-2x, $ic-menu-assortiment-2x, $ic-menu-w-2x, $ic-menu-2x, $ic-more-horiz-2x, $ic-more-vert-2x, $ic-pin-drop-2x, $ic-place-2x, $ic-point-w-2x, $ic-refresh-2x, $ic-restaurant-menu-2x, $ic-subject-2x, $ic-warning-2x, $ic-wine-2x, $ic-zoom-out-map-2x, );
$retina-spritesheet: (576px, 576px, '../img/assets/sprites/sprite@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$ic-arrow-back-group-name: 'ic-arrow_back';
$ic-arrow-back-group: ('ic-arrow_back', $ic-arrow-back, $ic-arrow-back-2x, );
$ic-arrow-downward-group-name: 'ic-arrow_downward';
$ic-arrow-downward-group: ('ic-arrow_downward', $ic-arrow-downward, $ic-arrow-downward-2x, );
$ic-arrow-drop-down-group-name: 'ic-arrow_drop_down';
$ic-arrow-drop-down-group: ('ic-arrow_drop_down', $ic-arrow-drop-down, $ic-arrow-drop-down-2x, );
$ic-arrow-drop-down-circle-group-name: 'ic-arrow_drop_down_circle';
$ic-arrow-drop-down-circle-group: ('ic-arrow_drop_down_circle', $ic-arrow-drop-down-circle, $ic-arrow-drop-down-circle-2x, );
$ic-arrow-drop-up-group-name: 'ic-arrow_drop_up';
$ic-arrow-drop-up-group: ('ic-arrow_drop_up', $ic-arrow-drop-up, $ic-arrow-drop-up-2x, );
$ic-arrow-forward-group-name: 'ic-arrow_forward';
$ic-arrow-forward-group: ('ic-arrow_forward', $ic-arrow-forward, $ic-arrow-forward-2x, );
$ic-arrow-upward-group-name: 'ic-arrow_upward';
$ic-arrow-upward-group: ('ic-arrow_upward', $ic-arrow-upward, $ic-arrow-upward-2x, );
$ic-cancel-group-name: 'ic-cancel';
$ic-cancel-group: ('ic-cancel', $ic-cancel, $ic-cancel-2x, );
$ic-check-group-name: 'ic-check';
$ic-check-group: ('ic-check', $ic-check, $ic-check-2x, );
$ic-chevron-left-group-name: 'ic-chevron_left';
$ic-chevron-left-group: ('ic-chevron_left', $ic-chevron-left, $ic-chevron-left-2x, );
$ic-chevron-right-group-name: 'ic-chevron_right';
$ic-chevron-right-group: ('ic-chevron_right', $ic-chevron-right, $ic-chevron-right-2x, );
$ic-close-w-group-name: 'ic-close-w';
$ic-close-w-group: ('ic-close-w', $ic-close-w, $ic-close-w-2x, );
$ic-close-group-name: 'ic-close';
$ic-close-group: ('ic-close', $ic-close, $ic-close-2x, );
$ic-dashboard-group-name: 'ic-dashboard';
$ic-dashboard-group: ('ic-dashboard', $ic-dashboard, $ic-dashboard-2x, );
$ic-domain-group-name: 'ic-domain';
$ic-domain-group: ('ic-domain', $ic-domain, $ic-domain-2x, );
$ic-error-group-name: 'ic-error';
$ic-error-group: ('ic-error', $ic-error, $ic-error-2x, );
$ic-error-outline-group-name: 'ic-error_outline';
$ic-error-outline-group: ('ic-error_outline', $ic-error-outline, $ic-error-outline-2x, );
$ic-expand-less-group-name: 'ic-expand_less';
$ic-expand-less-group: ('ic-expand_less', $ic-expand-less, $ic-expand-less-2x, );
$ic-expand-more-group-name: 'ic-expand_more';
$ic-expand-more-group: ('ic-expand_more', $ic-expand-more, $ic-expand-more-2x, );
$ic-facebook-w-group-name: 'ic-facebook-w';
$ic-facebook-w-group: ('ic-facebook-w', $ic-facebook-w, $ic-facebook-w-2x, );
$ic-facebook-group-name: 'ic-facebook';
$ic-facebook-group: ('ic-facebook', $ic-facebook, $ic-facebook-2x, );
$ic-fullscreen-group-name: 'ic-fullscreen';
$ic-fullscreen-group: ('ic-fullscreen', $ic-fullscreen, $ic-fullscreen-2x, );
$ic-fullscreen-exit-group-name: 'ic-fullscreen_exit';
$ic-fullscreen-exit-group: ('ic-fullscreen_exit', $ic-fullscreen-exit, $ic-fullscreen-exit-2x, );
$ic-home-group-name: 'ic-home';
$ic-home-group: ('ic-home', $ic-home, $ic-home-2x, );
$ic-instagram-w-group-name: 'ic-instagram-w';
$ic-instagram-w-group: ('ic-instagram-w', $ic-instagram-w, $ic-instagram-w-2x, );
$ic-instagram-group-name: 'ic-instagram';
$ic-instagram-group: ('ic-instagram', $ic-instagram, $ic-instagram-2x, );
$ic-local-phone-group-name: 'ic-local_phone';
$ic-local-phone-group: ('ic-local_phone', $ic-local-phone, $ic-local-phone-2x, );
$ic-local-post-office-group-name: 'ic-local_post_office';
$ic-local-post-office-group: ('ic-local_post_office', $ic-local-post-office, $ic-local-post-office-2x, );
$ic-local-shipping-group-name: 'ic-local_shipping';
$ic-local-shipping-group: ('ic-local_shipping', $ic-local-shipping, $ic-local-shipping-2x, );
$ic-menu-assortiment-group-name: 'ic-menu-assortiment';
$ic-menu-assortiment-group: ('ic-menu-assortiment', $ic-menu-assortiment, $ic-menu-assortiment-2x, );
$ic-menu-w-group-name: 'ic-menu-w';
$ic-menu-w-group: ('ic-menu-w', $ic-menu-w, $ic-menu-w-2x, );
$ic-menu-group-name: 'ic-menu';
$ic-menu-group: ('ic-menu', $ic-menu, $ic-menu-2x, );
$ic-more-horiz-group-name: 'ic-more_horiz';
$ic-more-horiz-group: ('ic-more_horiz', $ic-more-horiz, $ic-more-horiz-2x, );
$ic-more-vert-group-name: 'ic-more_vert';
$ic-more-vert-group: ('ic-more_vert', $ic-more-vert, $ic-more-vert-2x, );
$ic-pin-drop-group-name: 'ic-pin_drop';
$ic-pin-drop-group: ('ic-pin_drop', $ic-pin-drop, $ic-pin-drop-2x, );
$ic-place-group-name: 'ic-place';
$ic-place-group: ('ic-place', $ic-place, $ic-place-2x, );
$ic-point-w-group-name: 'ic-point_w';
$ic-point-w-group: ('ic-point_w', $ic-point-w, $ic-point-w-2x, );
$ic-refresh-group-name: 'ic-refresh';
$ic-refresh-group: ('ic-refresh', $ic-refresh, $ic-refresh-2x, );
$ic-restaurant-menu-group-name: 'ic-restaurant_menu';
$ic-restaurant-menu-group: ('ic-restaurant_menu', $ic-restaurant-menu, $ic-restaurant-menu-2x, );
$ic-subject-group-name: 'ic-subject';
$ic-subject-group: ('ic-subject', $ic-subject, $ic-subject-2x, );
$ic-warning-group-name: 'ic-warning';
$ic-warning-group: ('ic-warning', $ic-warning, $ic-warning-2x, );
$ic-wine-group-name: 'ic-wine';
$ic-wine-group: ('ic-wine', $ic-wine, $ic-wine-2x, );
$ic-zoom-out-map-group-name: 'ic-zoom_out_map';
$ic-zoom-out-map-group: ('ic-zoom_out_map', $ic-zoom-out-map, $ic-zoom-out-map-2x, );
$retina-groups: ($ic-arrow-back-group, $ic-arrow-downward-group, $ic-arrow-drop-down-group, $ic-arrow-drop-down-circle-group, $ic-arrow-drop-up-group, $ic-arrow-forward-group, $ic-arrow-upward-group, $ic-cancel-group, $ic-check-group, $ic-chevron-left-group, $ic-chevron-right-group, $ic-close-w-group, $ic-close-group, $ic-dashboard-group, $ic-domain-group, $ic-error-group, $ic-error-outline-group, $ic-expand-less-group, $ic-expand-more-group, $ic-facebook-w-group, $ic-facebook-group, $ic-fullscreen-group, $ic-fullscreen-exit-group, $ic-home-group, $ic-instagram-w-group, $ic-instagram-group, $ic-local-phone-group, $ic-local-post-office-group, $ic-local-shipping-group, $ic-menu-assortiment-group, $ic-menu-w-group, $ic-menu-group, $ic-more-horiz-group, $ic-more-vert-group, $ic-pin-drop-group, $ic-place-group, $ic-point-w-group, $ic-refresh-group, $ic-restaurant-menu-group, $ic-subject-group, $ic-warning-group, $ic-wine-group, $ic-zoom-out-map-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
